target/
/.project
src/messic-server-webapp/src/main/resources/rebel.xml
/home/spheras/desarrollo/projects/messic/messic/src/messic-starter/bundles/03-messic
/home/spheras/desarrollo/projects/messic/messic/src/messic-starter/felix-cache
/home/spheras/desarrollo/projects/messic/messic/src/messic-starter/.project

