
.messic-about-title:before {
    background: url("about/triangle.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 27px;
    margin-left: -16px;
    margin-top: 1px;
    position: absolute;
    width: 14px;
}
.messic-about-title {
    background: none repeat scroll 0 0 #eeeeee;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 11px;
    cursor: pointer;
    height: 24px;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 10px;
    overflow: hidden;
    padding: 6px;
    text-indent: 18px;
}

.messic-about-title.messic-about-title-expanded .messic-about-title-title {
    background: none repeat scroll 0 0 #88eeee;
    border-radius: 4px;
    margin-bottom: 30px;
}
.messic-about-title-title {
    font-family: roboto-bold;
    font-size: 1.2em;
}
.messic-about-title:hover {
    background: none repeat scroll 0 0 #88eeee;
}
.messic-about-title.messic-about-title-expanded:before {
    transform: rotate(90deg);
}
.messic-about-title.messic-about-title-expanded {
    background: none repeat scroll 0 0 white;
    border: 4px dashed #555555;
    height: auto;
}

#messic-about-tape{
    /* http://freepsdfiles.net/graphics/free-psd-retro-audio-tape/ */
    animation: 1.5s ease 0s normal none 1 messic-about-tape-comein;
    background: url("about/tape.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 342px;
    left: 50%;
    margin-left: -250px;
    position: relative;
    top: 8px;
    transform: scale(0.8);
    width: 546px;
    z-index: 2;
}
#messic-about-close{
    background: url("playlist/remove-vinyl.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 26px;
    left: 18px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition-duration: 0.5s;
    transition-property: opacity, transform;
    width: 26px;
    transform: scale(0);
}
#messic-about-window{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.70);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

@keyframes messic-about-tape-comein{
	from { transform:scale(3.5); opacity:0;}
	to { transform: scale(0.8); opacity:1;}
}


#messic-about-tape .messic-tape-wheel{
	width: 58px;
	height: 58px;
	position: absolute;
}

#messic-about-tape #messic-tape-leftwheel{
    /* http://freepsdfiles.net/graphics/free-psd-retro-audio-tape/ */
	background: url("about/tape-left-wheel.png") repeat scroll 0 0 transparent;
	left: 125px;
	top: 125px;
	animation: tape-wheel-anim 1.5s infinite;
	animation-timing-function: linear;
}
#messic-about-tape #messic-tape-rightwheel{
    /* http://freepsdfiles.net/graphics/free-psd-retro-audio-tape/ */
    background: url("about/tape-right-wheel.png") repeat scroll 0 0 transparent;
	left: 350px;
	top: 125px;
	animation: tape-wheel-anim 2s infinite;
	animation-timing-function: linear;
}

@keyframes tape-wheel-anim{
	from { transform:rotate(0deg);}
	to { transform: rotate(360deg);}
}

#messic-about-page{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
    border-bottom-left-radius: 50px;
    color: #FFFFFF;
    height: 200px;
    left: 50%;
    margin-left: -170px;
    margin-top: -77px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    top: 49px;
    width: 381px;
    z-index: 1;
}
#messic-about-page-content{
    animation: 1400s ease 1.5s normal none infinite messic-about-page-scroll, 1s ease 1s normal none 1 messic-about-page-fadein;
    border-radius: 14px;
    opacity: 0;
    padding: 15px;
    position: relative;
    width: 100%;
}
@keyframes messic-about-page-fadein{
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes messic-about-page-scroll{
	from { opacity:1; top:0px;}
	to { opacity:1; top: -10000px;}
}

#messic-about-faq > ul {
    list-style: none outside none;
}



#messic-about-faq h1 {
    background: none repeat scroll 0 0 #ddffff;
    border-bottom: 1px dashed #888888;
    color: #33aaaa;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 31px;
    text-align: left;
    text-indent: 0;
}
