
.messic-album-songs-bodyfield.messic-album-songs-body-songaction div {
    float: left;
    margin-left: 7px;
    cursor: pointer;
}
.messic-album-songs-body-songaction-remove{
    background: url("album/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 25px;
    width: 23px;
}
.messic-album-songs-body-songaction-play {
    background: none repeat scroll 0 0 #FF0000;
    height: 25px;
    width: 23px;
}
#messic-album-cover {
	display: block;
	float: left;
	margin-bottom: 0px;
	margin-right: 35px;
	margin-top: 15px;
	width: 250px;
}

#messic-album-cover  img {
	border: 0 solid #FFFFFF;
	position: absolute;
	width: 250px;
	height: 250px;
}

.messic-album-covercontainer {
	border: 7px solid #FFFFFF;
	border-radius: 6px;
	box-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 2;
}

.messic-album-add:hover ~ .messic-album-vinyl {
	margin-left: 45px;
}

.messic-album-covercontainer:hover .messic-album-add {
	opacity: 1;
}

.messic-album-add {
	background: url("playlist/vinyl-play.png") no-repeat scroll 0 0
		rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 38px;
	left: 50%;
	margin-left: -18px;
	margin-top: -16px;
	opacity: 0;
	position: absolute;
	top: 50%;
	transition: opacity 0.45s ease-in-out 0s;
	width: 38px;
	z-index: 3;
}

.messic-album-vinyl {
	background: url("album/bigredvinyl.png") no-repeat scroll 0 0/272px auto
		rgba(0, 0, 0, 0);
	height: 300px;
	margin-left: 21px;
	margin-top: -267px;
	position: relative;
	transition-duration: 0.3s;
	transition-property: margin-left;
	width: 300px;
	z-index: 1;
}

#messic-album-year>div {
	float: left;
	font-weight: bold;
	margin-right: 9px;
}

#messic-album-genre>div {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

#messic-album-comments>div {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

#messic-album-name {
	color: #555555;
	font-family: Amaranth;
	font-size: 2em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}

#messic-album-author:hover {
	color: #0000FF;
	cursor: pointer;
	text-decoration: underline;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

#messic-album-author {
	font-family: Amaranth;
	font-size: 2.3em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#messic-album-songs-head {
	background: linear-gradient(#CCCCCC, #AAAAAA) repeat scroll 0 0
		rgba(0, 0, 0, 0);
	color: #555555;
	font-family: Amaranth;
	text-align: center;
}

#messic-album-songs-container {
	border: 1px solid #AAAAAA;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	clear: both;
	overflow: hidden;
	position: relative;
	width: 600px;
}

.messic-album-songs-headfield {
	float: left;
	height: 30px;
}

#messic-album-songs-head-songtrack {
	width: 70px;
}

#messic-album-songs-head-songname {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	text-align: left;
	text-indent: 9px;
	width: 398px;
}

#messic-album-songs-head-songaction {
	width: 130px;
}

#messic-album-songs-body {
	clear: left;
}

#messic-album-songs-body .messic-album-songs-bodyrow:hover {
	background: none repeat scroll 0 0 #BBBBFF;
}

.messic-album-songs-bodyrow:nth-child(even) {
	background: linear-gradient(#DDDDDD, #EFEFEF) repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

.messic-album-songs-bodyrow:nth-child(odd) {
	background: linear-gradient(#FFFFFF, #EEEEEE) repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

.messic-album-songs-bodyrow {
	clear: left;
	color: #333333;
	font-family: roboto;
}

.messic-album-songs-bodyfield {
	float: left;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}

.messic-album-songs-body-songtrack {
	width: 70px;
}

.messic-album-songs-body-songname {
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	text-align: left;
	text-indent: 10px;
	width: 398px;
}

.messic-album-songs-body-songaction {
	width: 130px;
}

#messic-album-menu {
	border-bottom: 1px solid #BBBBBB;
	border-top: 1px solid #BBBBBB;
	height: 45px;
	margin-bottom: 23px;
	margin-left: 299px;
	width: 400px;
}

.messic-album-menuoption {
	background: linear-gradient(#AAAAAA, #EEEEEE 50%, #AAAAAA) repeat scroll
		0 0 rgba(0, 0, 0, 0);
	border-left: 1px solid #AAAAAA;
	border-radius: 10px;
	border-right: 1px solid #AAAAAA;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
	float: left;
	height: 36px;
	margin-right: 10px;
	margin-top: 3px;
	vertical-align: middle;
	width: 52px;
}

#messic-album-menuoption-remove:after {
	background: url("album/delete.png") no-repeat scroll center center
		rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
}

#messic-album-menuoption-edit:after {
	background: url("album/edit.png") no-repeat scroll center center
		rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
}

.messic-album-menuoption:active {
	background: linear-gradient(#EEEEEE, #AAAAAA 50%, #EEEEEE) repeat scroll
		0 0 rgba(0, 0, 0, 0);
}

.messic-album-menuoption:hover {
	box-shadow: 0 0 4px rgba(100, 100, 155, 0.86);
}

#messic-album-container {
	float: left;
	overflow: hidden;
	width: 650px;
}

#messic-album-plugincontainer {
	background: none repeat scroll 0 0 #EEEEEE;
	border-left: 3px dashed #CCCCCC;
	border-radius: 0 54px 0 0;
	float: right;
	min-height: 400px;
	padding: 17px;
	right: 0;
	width: 435px;
}

.messic-album-plugincontainer-menu {
	display: block;
	list-style: none outside none;
	margin-left: -77px;
	margin-top: 32px;
	padding: 0;
	position: absolute;
	text-decoration: none;
	width: 70px;
}

.messic-album-plugincontainer-menuitem:hover {
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 5px solid #4444FF;
	margin-left: -10px;
	opacity: 1;
}

.messic-album-plugincontainer-menuitem.messic-album-plugincontainer-menuitem-selected{
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 5px solid #6666FF;
	opacity: 1;
}

.messic-album-plugincontainer-menuitem {
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 40%, #EEEEEE 100%)
		repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-radius: 6px 0 0 25px;
	border-top: 1px solid #CCCCCC;
	cursor: pointer;
	float: left;
	height: 50px;
	margin-bottom: 8px;
	opacity: 0.8;
	overflow: hidden;
	padding: 10px;
	transition-duration: 0.3s;
	transition-property: margin-left, opacity;
	transition-timing-function: ease;
	width: 50px;
}

.messic-album-musicinfoplugin-icon {
	height: 50px;
	width: 50px;
}

.messic-album-plugincontainer-content-message {
	color: #AFAFAF;
	font-family: roboto;
	font-size: 1.5em;
	left: 50%;
	margin-left: -170px;
	margin-top: 103px;
	position: relative;
	text-align: center;
	width: 80%;
}

.messic-album-plugincontainer-content-wait {
	color: #888888;
	font-family: roboto-bold;
	left: 50%;
	margin-left: -112px;
	margin-top: 165px;
	position: relative;
	text-align: center;
	width: 197px;
}

.messic-album-plugincontainer-content-wait:before {
    background: url("base/339.GIF") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 60px;
    margin-left: 67px;
    margin-top: -66px;
    position: absolute;
    width: 60px;
}









.messic-musicinfo-youtube-item-title {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 8px 8px 0 1px;
    float: left;
    font-family: roboto-bold;
    font-size: 1em;
    overflow: hidden;
    padding: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}

.messic-musicinfo-youtube-item-description {
    background: none repeat scroll 0 0 #DDDDDD;
    float: left;
    font-family: roboto;
    font-size: 0.8em;
    height: 82px;
    padding: 2px 0 0 9px;
    width: 229px;
}

.messic-musicinfo-youtube-item > img {
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 163px;
}


.messic-musicinfo-youtube-item {
    height: 122px;
    margin-bottom: 10px;
    overflow: hidden;
}

.messic-musicinfo-youtube-item-play:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
    transition-property: transform;
}
.messic-musicinfo-youtube-item-play {
    background: url("playlist/vinyl-play.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 40px;
    margin: 40px 40px 40px 63px;
    position: absolute;
    width: 40px;
}

.messic-musicinfo-youtube-overlay {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.70;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}


.messic-musicinfo-youtube-iframe {
    background: none repeat scroll 0 0 #AAAAAA;
    border: 7px solid #FFFFFF;
    border-radius: 10px;
    height: 400px;
    left: 50%;
    margin-left: -300px;
    margin-top: -181px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    width: 600px;
    z-index: 1000000;
}
