@keyframes fadein
{
   0%  { opacity:0;}
   100%  { opacity:1;}
}
@-webkit-keyframes fadein
{
   0%  { opacity:0;}
   100%  { opacity:1;}
}
@keyframes fadeout
{
   0%  { opacity:1;}
   100%  { opacity:0;}
}
@-webkit-keyframes fadeout
{
   0%  { opacity:1;}
   100%  { opacity:0;}
}
/* -------------------------------*/
/* FONTS AMARANTH */
/* Designed by:	Gesine Todt */
/* http://www.gesine-todt.de/ */
/* -------------------------------*/
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth;
	src: url(fonts/Amaranth-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-bold;
	src: url(fonts/Amaranth-Bold-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-italic;
	src: url(fonts/Amaranth-Italic-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-bold-italic;
	src: url(fonts/Amaranth-BoldItalic-webfont.woff);
}


/* -------------------------------*/
/* FONTS ROBOTO */
/*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
/* Designed by:	Christian Robertson */
/* -------------------------------*/
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto;
	src: url(fonts/Roboto-Regular-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-bold;
	src: url(fonts/Roboto-Bold-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-italic;
	src: url(fonts/Roboto-Italic-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-black;
	src: url(fonts/Roboto-Black-webfont.woff);
}


/*  
Google font
http://www.google.com/fonts/specimen/Sigmar+One
*/
@font-face {
  font-family: Sigmar One;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SigmarOne.woff) format('woff');
}

/* Icons based on texts */
/* http://www.paulund.co.uk/css-buttons-with-icons-but-no-images */
/* Hexadecimal entities for the icons */
/*Forms*/
.button.add:before { content: "\271A"; }
.button.edit:before { content: "\270E"; }
.button.delete:before{ content: "\2718";}
.button.save:before{ content: "\2714";}
.button.email:before{ content: "\2709";}
.button.cross:before { content: "\2716"; }
/*Currency*/
.button.dollar:before{ content:"\0024"; }
.button.euro:before{ content:"\20AC"; }
.button.pound:before{ content: "\00A3";}
.button.cent:before { content: "\20B5"; }
/*Temp*/
.button.celsius:before { content: "\2103"; }
.button.fahrenheit:before { content: "\2109"; }
/*Math & Factions*/
.button.pi:before { content: "\213C"; }
.button.one_thrid:before { content: "\2153"; }
.button.two_thrid:before { content: "\2154"; }
.button.one_fifth:before { content: "\2155"; }
.button.two_fifth:before { content: "\2156"; }
.button.three_fifth:before { content: "\2157"; }
.button.four_fifth:before { content: "\2158"; }
.button.one_sixth:before { content: "\2159"; }
.button.five_sixth:before { content: "\215A"; }
.button.one_eighth:before { content: "\215B"; }
.button.three_eighth:before { content: "\215C"; }
.button.five_eighth:before { content: "\215D"; }
.button.seven_eighth:before { content: "\215E"; }
.button.quarter:before { content: "\00BC"; }
.button.half:before { content: "\00BD"; }
.button.three_quarter:before { content: "\00BE"; }
/*Arrows*/
.button.next:before{ content: "\279C";}
.button.left_arrow:before { content: "\2190"; }
.button.up_arrow:before { content: "\2191"; }
.button.right_arrow:before { content: "\2192"; }
.button.down_arrow:before { content: "\2193"; }
.button.up_left_arrow:before { content: "\2196"; }
.button.up_right_arrow:before { content: "\2197"; }
.button.down_left_arrow:before { content: "\2199"; }
.button.down_right_arrow:before { content: "\2198"; }
/*Symbols*/
.button.like:before{ content: "\2764";}
.button.star:before{ content: "\2605";}
.button.spark:before{ content: "\2737";}
.button.play:before{  line-height: 25px; content: "\25B6";}
.button.back:before{  line-height: 25px; content: "\25C0";}
.button.blacksun:before { content: "\2600"; }
.button.cloud:before { content: "\2601"; }
.button.umbrella:before { content: "\2602"; }
.button.snowman:before { content: "\2603"; }
.button.blackstar:before { content: "\2605"; }
.button.whitestar:before { content: "\2606"; }
.button.blackphone:before { content: "\260E"; }
.button.saltire:before { content: "\2613"; }
.button.hot_drink:before { content: "\2615"; }
.button.skull:before { content: "\2620"; }
.button.radioactive:before { content: "\2622"; }
.button.biohazard:before { content: "\2623"; }
.button.peace:before { content: "\262E"; }
.button.yingyang:before { content: "\262F"; }
.button.frowning_face:before { content: "\2639"; }
.button.smiling_face:before { content: "\263A"; }
.button.first_quarter_moon:before { content: "\263D"; }
.button.last_quarter_moon:before { content: "\263E"; }
.button.wheelchair:before { content: "\267F"; }
.button.recycle:before { content: "\267D"; }
.button.recycle2:before { content: "\267C"; }
.button.music_note:before { content: "\266C"; }
.button.warning:before { content: "\26A0"; }
.button.male_and_female:before { content: "\26A4"; }
.button.scissors:before { content: "\2701"; }
.button.airplane:before { content: "\2708"; }
.button.snow:before { content: "\2042"; }


/* body of messic */
/* ------------------------------------------------------------ */
html{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

body{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;

    /* http://subtlepatterns.com/dotnoise-light-grey/ */
	background:  url("textures/bgnoise_lg.png") repeat 0 0 fixed;
}

label {
    color: #6A6A6A;
    display: block;
    font-family: Roboto;
    font-size: 0.8em;
    font-weight: bold;
}

h1{
	font-family:'Sigmar One' !important;
	font-size:2.2em;
	color:#555555;
	margin:0px;
	text-align: right;
}

input[type="text"], input[type="number"], textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 3px 0 3px 0px;
    text-indent: 4px;
	font-family:Roboto;
	font-size:0.8em;
	border-style: solid;
    border-width: 1px;
	outline: 0 none;
	line-height: normal;
    color: #444444;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
    border-color: #AAAAAA;
    border-style: dashed;
    border-width: 1px;
    color: #00BABA;
}
input[type="text"]:hover, input[type="number"]:hover, textarea:hover {
    -webkit-box-shadow: 0 0 3px rgba(0, 139, 139, 0.4);
    -moz-box-shadow:    0 0 3px rgba(0, 139, 139, 0.4);
    box-shadow:         0 0 3px rgba(0, 139, 139, 0.4);
    border-color: rgba(0,139,139,0.5);
}


button {
	/* generated here: http://css3buttongenerator.com/ */
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;
    border: 1px solid #C7C7C7;
    border-radius: 8px 2px 8px 2px;
	-webkit-border-radius: 8px 2px 8px 2px;
	-moz-border-radius: 8px 2px 8px 2px;
    box-shadow: 0 2px 3px #666666;
	-webkit-box-shadow: 0px 2px 3px #666666;
	-moz-box-shadow: 0px 2px 3px #666666;
    color: #5C5C5C;
    font-family: Roboto;
    font-size: 13px;
    padding: 1px 11px 0px 8px;
    text-decoration: none;
	line-height: 30px;

    transition-property : padding; 
    transition-duration : 0.5s;
}
button:hover {
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#DDDDDD));
    background: -moz-linear-gradient(center top , #FFFFFF, #DDDDDD) repeat scroll 0 0 transparent;
	color:#008B8B;
}
button:active {
    box-shadow: 0 0px 2px #666666;
	-webkit-box-shadow: 0px 0px 2px #666666;
	-moz-box-shadow: 0px 0px 2px #666666;
}
button:before
{
	float: left;
	width: 1em;
	text-align: center;
	font-size: 1.7em;
	margin: 0px;
	padding: 0 .2em;
	pointer-events: none;
    transition-property : color; 
    transition-duration : 0.5s;
}

button:hover:before{
	color:#008B8B;
    transition-property : color,font-size; 
    transition-duration : 0.5s;
}
a{
	font-family:Amaranth;
	font-size:0.8em;
	color:#7a7a7a;
}
a:hover{
	font-size:0.8em;
	color:#008B8B;
    transition-property : color; 
    transition-duration : 0.5s;
}
a:visited{
	font-size:0.8em;
	color:#7a7a7a;
    transition-property : color; 
    transition-duration : 0.5s;
}

form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
form li {
    margin: 7px 0 0 0;
}

p strong{
    font-weight: bold;
}

.messic-form {
    position:relative;
    display: block;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.divclearer{
    clear:both;
    height:0px;
    content:&nbsp;
}
.messic-smallinfo:after{
    background: url("base/info.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 48px;
    left: -20px;
    position: absolute;
    top: -15px;
    transform: scale(0.8);
    width: 48px;
}

.messic-smallinfo{
    background: none repeat scroll 0 0 rgba(0, 203, 203, 0.6);
    border-radius: 8px;
    box-shadow: 0 0 2px #00BABA;
    color: #FFFFFF;
    font-family: Roboto-black;
    font-size: 1em;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    padding: 5px;
    position: fixed;
    top: 50%;
    z-index: 99999;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
    text-align: center;

    animation-name: messic-smallinfo-fadeinout;
    animation-duration:1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;

    -webkit-animation-name: messic-smallinfo-fadeinout;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    opacity: 0;    
}

@keyframes messic-smallinfo-fadeinout
{
   0%  { opacity:0;}
   10% { opacity:1;}
   90% { opacity:1;}
   100%  { opacity:0;}
}
@-webkit-keyframes messic-smallinfo-fadeinout
{
   0%  { opacity:1;}
   100%  { opacity:0;}
}

/* ----------------------------------------------------------------- */




#messic-background {
	/* http://freepsdfiles.net/silhouettes/crowd-silhouettes-set/ */
	background: url("base/people.png") bottom left repeat-x;

	bottom:-67px;
	width:100%;
	height:446px;
    content:"";
    opacity:1;
	position:fixed;
	z-index:-1;

	animation-name: fadein;
	animation-duration:2s;
	animation-iteration-count: 1;
	-webkit-animation-name: fadein;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count: 1;
}

#messic-decorator1 {
    background: url("base/holes.png");
    width:267px;
    height:492px;
    position:fixed;
    top:0px;
    z-index:-2;
    animation-name: fadein;
    animation-duration:2s;
    animation-iteration-count: 1;
    -webkit-animation-name: fadein;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count: 1;
}


#messic-top{
    height: 80px;
    position: fixed;
    top: -52px;
    width: 100%;
    z-index: 8;    
    transition-property:top;
    transition-duration:0.5s;
}
#messic-top-background{
    background: linear-gradient(#8f8f8f, #696969) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 16px solid #474747;
    display: block;
    height: 52px;
    width: 100%;
}

#messic-top:hover{
    top:0px;
}



/* MESSIC MENU BUTTONS */
/* -------------------- */
#messic-menu {
    display: block;
    left: 50%;
    margin-left: -260px;
    position: relative;
    top: -60px;
    z-index: 999;
}

#messic-menu li{
	background: url("base/mainmenu-button-99x99.png") no-repeat scroll 0 0 transparent;
	width:99px;
	height:99px;
	float:left;
	list-style-type: none;
    margin-right:-15px;
}

#messic-menu > li:before{
	background: url("base/mainmenu-button-99x99.png") no-repeat scroll -99px 0px transparent;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity:0;
    transition-property : opacity; 
    transition-duration : 0.8s;
}

#messic-menu > li:hover:before{
    opacity:1;
}
#messic-menu > li:active:before{
    visibility:hidden;
}

#messic-menu > li:active{
	background: url("base/mainmenu-button-99x99.png") no-repeat scroll -198px 0px transparent;
	width:99px;
	height:99px;
}

/* icons of the main menu */
/* ---------------------------- */
#messic-menu li.messic-menu-icon-selected{
    background: url("base/mainmenu-button-99x99.png") no-repeat scroll -297px 0px transparent;
    margin-top: 10px;
}

#messic-menu li.messic-menu-icon:after{
    /* commons properties for all icons */
	content: "";
    display: block;
    height: 99px;
    position: relative;
    top: -126px;
    width: 99px;	
}
#messic-menu > li:hover.messic-menu-icon:after{
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transition-duration: 0.3s;
    transition-property: transform;
}

#messic-menu > li:active.messic-menu-icon:after{
    top:-122px;
}
#messic-menu-home:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll 0 0 transparent;
}
#messic-menu-explore:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -99px 0 transparent;
}
#messic-menu-playlist:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -198px 0 transparent;
}
#messic-menu-radio:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll 0px -99px transparent;
}
#messic-menu-settings:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -99px -99px transparent;
}
#messic-menu-help:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll 2px -117px transparent;
}
#messic-menu-upload:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -198px -99px transparent;
}
/* The help info over the buttons */
#messic-menu div:after{
    border-color: rgba(0, 200, 200, 0.2) transparent;
    border-width: 0 10px 10px;
    bottom: auto;
    left: 50%;
    right: 50px;
    top: -10px;
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;    
    margin-left:-10px;
}

#messic-menu div{
    background: none repeat scroll 0 0 rgba(0, 200, 200, 0.57);
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    padding: 4px;
    position: relative;
    text-align:center;
    -webkit-box-shadow:  0 0 14px #00baba;
    -moz-box-shadow:     0 0 14px #00baba;
    box-shadow:          0 0 14px #00baba;
    font-family: Amaranth;
    font-size: 0.8em;
    opacity:0;
    transition-property : opacity; 
    transition-duration : 0.8s;
    transition-delay: 1s;
    visibility:hidden;
}
#messic-menu li:hover>div{
    opacity:1;
    visibility:visible;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.67);
}
/* ------------------------------------------------ */


#messic-search-text{
    background: url("base/search-box.png") no-repeat;
    width:260px;
    height: 39px;
    left: 10px;
    position: relative;
    top: 3px;
    border:none;
    padding-left: 18px;
    padding-right: 55px;
}

#messic-search-text:hover{
    box-shadow: none;
}

#messic-search-do {
    background: url("base/search-icon.png") no-repeat;
    background-position: 0px 0px;
    height: 46px;
    left: 300px;
    position: absolute;
    top: 8px;
    width: 56px;
}

#messic-search-do:hover {
    width: 100px;
    background-position: -55px 0px;
}

#messic-search:hover{
    border:none;
    box-shadow: none;
}


#messic-page-border{
	border-color: transparent;
	border-image: url("base/page-border.png") 150 150 150 150 repeat repeat;
	border-style: solid;
	border-width: 150px;
	height: auto;
	min-height:500px;
	margin: 50px auto 0;
	position: relative;
	width: 920px;
    padding-bottom: 300px;
}
#messic-page-border:after{
    background: url("base/page-ribbon.png") no-repeat;
    width:191px;
    height: 197px;
    right: -189px;
    top: -188px;
    content: ' ';
    position: absolute;
}
/* To fill the content of the page */
#messic-page-border:before{
    content:' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F9F9F9;
}
#messic-page-content{
    /*
    height: auto;
    width: 1100px;
    position: relative;
    left: -83px;
    top: -85px;
    */
    height: auto;
    left: -109px;
    position: relative;
    top: -85px;
    width: 1144px;
}

#messic-page-content h1{
    margin-bottom: 25px;
    margin-right: 32px;
}
/** fill for the content... the bottom part is the player, 
so we need space enough to show the last content.. 
this fill enables enough scroll to show the last element */
.messic-content-last-fill{
	width:100%;
	height:200px;
}



/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#messic-wait{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.81);
}
#messic-wait-box {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #AAAAAA;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    display: block;
    height: 70px;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 300px;
    z-index: 1000000;
}

#messic-wait-box:before{
    /*http://preloaders.net/en/search/circle */
    background: url("base/339.GIF") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    float: left;
    height: 60px;
    left: 50%;
    width: 60px;
    margin-top: 5px;
}
#messic-wait-box p{
    border-left: 1px solid #AAAAAA;
    color: #555555;
    display: block;
    float: left;
    font-family: Roboto-black;
    font-size: 1em;
    height: 100%;
    line-height: 17px;
    margin: 0 0 0 10px;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
    width: 228px;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.required{
    color: #0000FF;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: underline;
}

