@keyframes fadein
{
   0%  { opacity:0;}
   100%  { opacity:1;}
}
@-webkit-keyframes fadein
{
   0%  { opacity:0;}
   100%  { opacity:1;}
}
@keyframes fadeout
{
   0%  { opacity:1;}
   100%  { opacity:0;}
}
@-webkit-keyframes fadeout
{
   0%  { opacity:1;}
   100%  { opacity:0;}
}
/* -------------------------------*/
/* FONTS AMARANTH */
/* Designed by:	Gesine Todt */
/* http://www.gesine-todt.de/ */
/* -------------------------------*/
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth;
	src: url(fonts/Amaranth-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-bold;
	src: url(fonts/Amaranth-Bold-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-italic;
	src: url(fonts/Amaranth-Italic-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-bold-italic;
	src: url(fonts/Amaranth-BoldItalic-webfont.woff);
}


/* -------------------------------*/
/* FONTS ROBOTO */
/*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
/* Designed by:	Christian Robertson */
/* -------------------------------*/
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto;
	src: url(fonts/Roboto-Regular-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-bold;
	src: url(fonts/Roboto-Bold-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-italic;
	src: url(fonts/Roboto-Italic-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-black;
	src: url(fonts/Roboto-Black-webfont.woff);
}


/*  
Google font
http://www.google.com/fonts/specimen/Sigmar+One
*/
@font-face {
  font-family: Sigmar One;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SigmarOne.woff) format('woff');
}

/* Icons based on texts */
/* http://www.paulund.co.uk/css-buttons-with-icons-but-no-images */
/* Hexadecimal entities for the icons */
/*Forms*/
.button.add:before { content: "\271A"; }
.button.edit:before { content: "\270E"; }
.button.delete:before{ content: "\2718";}
.button.save:before{ content: "\2714";}
.button.email:before{ content: "\2709";}
.button.cross:before { content: "\2716"; }
/*Currency*/
.button.dollar:before{ content:"\0024"; }
.button.euro:before{ content:"\20AC"; }
.button.pound:before{ content: "\00A3";}
.button.cent:before { content: "\20B5"; }
/*Temp*/
.button.celsius:before { content: "\2103"; }
.button.fahrenheit:before { content: "\2109"; }
/*Math & Factions*/
.button.pi:before { content: "\213C"; }
.button.one_thrid:before { content: "\2153"; }
.button.two_thrid:before { content: "\2154"; }
.button.one_fifth:before { content: "\2155"; }
.button.two_fifth:before { content: "\2156"; }
.button.three_fifth:before { content: "\2157"; }
.button.four_fifth:before { content: "\2158"; }
.button.one_sixth:before { content: "\2159"; }
.button.five_sixth:before { content: "\215A"; }
.button.one_eighth:before { content: "\215B"; }
.button.three_eighth:before { content: "\215C"; }
.button.five_eighth:before { content: "\215D"; }
.button.seven_eighth:before { content: "\215E"; }
.button.quarter:before { content: "\00BC"; }
.button.half:before { content: "\00BD"; }
.button.three_quarter:before { content: "\00BE"; }
/*Arrows*/
.button.next:before{ content: "\279C";}
.button.left_arrow:before { content: "\2190"; }
.button.up_arrow:before { content: "\2191"; }
.button.right_arrow:before { content: "\2192"; }
.button.down_arrow:before { content: "\2193"; }
.button.up_left_arrow:before { content: "\2196"; }
.button.up_right_arrow:before { content: "\2197"; }
.button.down_left_arrow:before { content: "\2199"; }
.button.down_right_arrow:before { content: "\2198"; }
/*Symbols*/
.button.like:before{ content: "\2764";}
.button.star:before{ content: "\2605";}
.button.spark:before{ content: "\2737";}
.button.play:before{  line-height: 25px; content: "\25B6";}
.button.back:before{  line-height: 25px; content: "\25C0";}
.button.blacksun:before { content: "\2600"; }
.button.cloud:before { content: "\2601"; }
.button.umbrella:before { content: "\2602"; }
.button.snowman:before { content: "\2603"; }
.button.blackstar:before { content: "\2605"; }
.button.whitestar:before { content: "\2606"; }
.button.blackphone:before { content: "\260E"; }
.button.saltire:before { content: "\2613"; }
.button.hot_drink:before { content: "\2615"; }
.button.skull:before { 
	content: "\2620"; 
    font-size: 2.5em;
    margin-left: -7px;
    margin-top: -2px;
}
.button.radioactive:before { content: "\2622"; }
.button.biohazard:before { content: "\2623"; }
.button.peace:before { content: "\262E"; }
.button.yingyang:before { content: "\262F"; }
.button.frowning_face:before { content: "\2639"; }
.button.smiling_face:before { content: "\263A"; }
.button.first_quarter_moon:before { content: "\263D"; }
.button.last_quarter_moon:before { content: "\263E"; }
.button.wheelchair:before { content: "\267F"; }
.button.recycle:before { content: "\267D"; }
.button.recycle2:before { content: "\267C"; }
.button.music_note:before { content: "\266C"; }
.button.warning:before { content: "\26A0"; }
.button.male_and_female:before { content: "\26A4"; }
.button.scissors:before { content: "\2701"; }
.button.airplane:before { content: "\2708"; }
.button.snow:before { content: "\2042"; }


/* body of messic */
/* ------------------------------------------------------------ */
html{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

body{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;

    /* http://subtlepatterns.com/dotnoise-light-grey/ */
	background:  url("textures/bgnoise_lg.png") repeat 0 0 fixed;
}

label {
    color: #6A6A6A;
    display: block;
    font-family: Roboto;
    font-size: 0.8em;
    font-weight: bold;
}

h1{
	font-family:'Sigmar One' !important;
	font-size:2.2em;
	color:#555555;
	margin:0px;
	text-align: right;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 3px 0 3px 0px;
    text-indent: 4px;
	font-family:Roboto;
	font-size:0.8em;
	border-style: solid;
    border-width: 1px;
	outline: 0 none;
	line-height: normal;
    color: #444444;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #AAAAAA;
    border-style: dashed;
    border-width: 1px;
    color: #00BABA;
}
input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="email"]:hover, textarea:hover {
    -webkit-box-shadow: 0 0 3px rgba(0, 139, 139, 0.4);
    box-shadow:         0 0 3px rgba(0, 139, 139, 0.4);
    border-color: rgba(0,139,139,0.5);
}

.checkboxcontainer > input {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.checkboxcontainer > label {
    float: left;
}

.checkboxcontainer {
    margin-top: 12px;
    overflow: hidden;
}

button {
    background:#dedede; /* Old browsers */
	/* generated here: http://css3buttongenerator.com/ */
 	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
 	background: -webkit-linear-gradient(#ffffff, #cccccc);
 	background: linear-gradient(#ffffff,#cccccc);
    border: 1px solid #C7C7C7;
    border-radius: 8px 2px 8px 2px;
	-webkit-border-radius: 8px 2px 8px 2px;
	-moz-border-radius: 8px 2px 8px 2px;
    box-shadow: 0 2px 3px #666666;
	-webkit-box-shadow: 0px 2px 3px #666666;
	-moz-box-shadow: 0px 2px 3px #666666;
    color: #5C5C5C;
    font-family: Roboto;
    font-size: 13px;
    padding: 1px 11px 0px 8px;
    text-decoration: none;
	line-height: 30px;

    -webkit-transition-property : padding;

    transition-property : padding; 
    -webkit-transition-duration : 0.5s; 
    transition-duration : 0.5s;
}
button:focus {
    border: 3px dashed rgba(100, 100, 100, 0.5);
    color: #444444;
    font-family: roboto-bold;
    text-decoration: underline;
}
button:hover {
    background:#DEDEDE; /* Old browsers */
 	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
 	background: -webkit-linear-gradient(#FFFFFF, #DDDDDD);
 	background: linear-gradient(#FFFFFF,#DDDDDD);
	color:#008B8B;
}
button:active {
    box-shadow: 0 0px 2px #666666;
	-webkit-box-shadow: 0px 0px 2px #666666;
	-moz-box-shadow: 0px 0px 2px #666666;
}
button:before
{
	float: left;
	width: 1em;
	text-align: center;
	font-size: 1.7em;
	margin: 0px;
	padding: 0 .2em;
	pointer-events: none;
    -webkit-transition-property : color;
    transition-property : color; 
    -webkit-transition-duration : 0.5s; 
    transition-duration : 0.5s;
}

button:hover:before{
	color:#008B8B;
    -webkit-transition-property : color,font-size;
    transition-property : color,font-size; 
    -webkit-transition-duration : 0.5s; 
    transition-duration : 0.5s;
}
a{
	font-family:Amaranth;
	font-size:0.8em;
	color:#7a7a7a;
}
a:hover{
	font-size:0.8em;
	color:#008B8B;
    -webkit-transition-property : color;
    transition-property : color; 
    -webkit-transition-duration : 0.5s; 
    transition-duration : 0.5s;
}
a:visited{
	font-size:0.8em;
	color:#7a7a7a;
    -webkit-transition-property : color;
    transition-property : color; 
    -webkit-transition-duration : 0.5s; 
    transition-duration : 0.5s;
}

form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
form li {
    margin: 7px 0 0 0;
}

p strong{
    font-weight: bold;
}

.messic-form {
    position:relative;
    display: block;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.divclearer{
    clear:both;
    height:0px;
    content:&nbsp;
}
.messic-smallinfo:after{
    background: url("base/info.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 48px;
    left: -20px;
    position: absolute;
    top: -15px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    width: 48px;
}

.messic-smallinfo{
    background: none repeat scroll 0 0 rgba(0, 203, 203, 0.6);
    border-radius: 8px;
    -webkit-box-shadow: 0 0 2px #00BABA;
    box-shadow: 0 0 2px #00BABA;
    color: #FFFFFF;
    font-family: Roboto-black;
    font-size: 1em;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    padding: 15px;
    position: fixed;
    top: 50%;
    z-index: 99999;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
    text-align: center;
}

@keyframes messic-smallinfo-fadeinout
{
   0%  { opacity:0;}
   10% { opacity:1;}
   90% { opacity:1;}
   100%  { opacity:0;}
}
@-webkit-keyframes messic-smallinfo-fadeinout
{
   0%  { opacity:1;}
   100%  { opacity:0;}
}

/* ----------------------------------------------------------------- */




#messic-background {
	/* http://freepsdfiles.net/silhouettes/crowd-silhouettes-set/ */
	background: url("base/people.png") bottom left repeat-x;

	bottom:-67px;
	width:100%;
	height:446px;
    content:"";
    opacity:1;
	position:fixed;
	z-index:-1;

	-webkit-animation-name: fadein;

	animation-name: fadein;
	-webkit-animation-duration:2s;
	animation-duration:2s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-name: fadein;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count: 1;
}

#messic-decorator1 {
    background: url("base/holes.png");
    width:267px;
    height:492px;
    position:fixed;
    top:0px;
    z-index:-2;
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadein;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count: 1;
}


#messic-top{
    height: 80px;
    position: fixed;
    top: -52px;
    width: 100%;
    z-index: 8;    
    -webkit-transition-property:top;    
    transition-property:top;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
}

#messic-top:hover{
    top:0px;
}
#messic-top.messic-top-opened{
	top:0px;
}
#messic-top.messic-top-closed{
	top:-52px;
}
#messic-top-background{
    background-color: #696969;
    background: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#696969)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(#8f8f8f, #696969) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(#8f8f8f, #696969) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 16px solid #474747;
    display: block;
    height: 52px;
    width: 100%;
}

#messic-top-openmenu{
    background: url("base/openmenu.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 43px;
    left: 0;
    position: absolute;
    top: 68px;
    width: 79px;
}


/* MESSIC MENU BUTTONS */
/* -------------------- */
#messic-menu {
    display: block;
    left: 50%;
    margin-left: -260px;
    position: relative;
    top: -74px;
    z-index: 999;
}

#messic-menu li{
	background: url("base/mainmenu-button-99x99.png") no-repeat scroll 0 0 transparent;
	width:99px;
	height:99px;
	float:left;
	list-style-type: none;
    margin-right:-15px;
    cursor:pointer;
}

#messic-menu > li:before{
	background: url("base/mainmenu-button-99x99.png") no-repeat scroll -99px 0px transparent;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity:0;
    -webkit-transition-property : opacity;
    transition-property : opacity; 
    -webkit-transition-duration : 0.8s; 
    transition-duration : 0.8s;
}

#messic-menu > li:hover:before{
    opacity:1;
}
#messic-menu > li:active:before{
    visibility:hidden;
}

#messic-menu > li:active{
	background: url("base/mainmenu-button-99x99.png") no-repeat scroll -198px 0px transparent;
	width:99px;
	height:99px;
}

/* icons of the main menu */
/* ---------------------------- */
#messic-menu li.messic-menu-icon-selected{
    background: url("base/mainmenu-button-99x99.png") no-repeat scroll -297px 0px transparent;
    margin-top: 10px;
}

#messic-menu li.messic-menu-icon:after{
    /* commons properties for all icons */
	content: "";
    display: block;
    height: 99px;
    position: relative;
    top: -126px;
    width: 99px;	
}
#messic-menu > li:hover.messic-menu-icon:after{
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

#messic-menu > li:active.messic-menu-icon:after{
    top:-122px;
}
#messic-menu-home:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll 0 0 transparent;
}
#messic-menu-explore:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -99px 0 transparent;
}
#messic-menu-playlist:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -198px 0 transparent;
}
#messic-menu-radio:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll 0px -99px transparent;
}
#messic-menu-settings:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -99px -99px transparent;
}
#messic-menu-help:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll 2px -99px transparent;
}
#messic-menu-upload:after{
    background: url("base/mainmenu-buttons-icons.png") no-repeat scroll -198px -99px transparent;
}
/* The help info over the buttons */
#messic-menu div:after{
    border-color: rgba(0, 200, 200, 0.2) transparent;
    border-width: 0 10px 10px;
    bottom: auto;
    left: 50%;
    right: 50px;
    top: -10px;
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;    
    margin-left:-10px;
}

#messic-menu div{
    background: none repeat scroll 0 0 rgba(0, 200, 200, 0.57);
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    padding: 4px;
    position: relative;
    text-align:center;
    -webkit-box-shadow:  0 0 14px #00baba;
    box-shadow:          0 0 14px #00baba;
    font-family: Amaranth;
    font-size: 0.8em;
    opacity:0;
    -webkit-transition-property : opacity;
    transition-property : opacity; 
    -webkit-transition-duration : 0.8s; 
    transition-duration : 0.8s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    visibility:hidden;
}
#messic-menu li:hover>div{
    opacity:1;
    visibility:visible;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.67);
}
/* ------------------------------------------------ */


#messic-search-text{
    background: url("base/search-box.png") no-repeat;
    width:260px;
    height: 39px;
    left: 10px;
    position: relative;
    top: 3px;
    border:none;
    padding-left: 18px;
    padding-right: 55px;
}

#messic-search-text:hover{
    -webkit-box-shadow: none;
    box-shadow: none;
}

#messic-search-do {
    background: url("base/search-icon.png") no-repeat;
    background-position: 0px 0px;
    height: 46px;
    left: 300px;
    position: absolute;
    top: 8px;
    width: 56px;
}

#messic-search-do:hover {
    width: 100px;
    background-position: -55px 0px;
}

#messic-search:hover{
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#messic-search-form #messic-main-logout {
    color: white;
    cursor: pointer;
    float: right;
    font-family: Roboto;
    font-size: 1em;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: underline;
}

#messic-page-border{
	border-color: transparent;
	-webkit-border-image: url("base/page-border.png") 150 150 150 150 fill;
	-o-border-image: url("base/page-border.png") 150 150 150 150 fill;
	border-image: url("base/page-border.png") 150 150 150 150 fill;
	border-style: solid;
	border-width: 150px;
	height: auto;
	min-height:500px;
	margin: 50px 0px 0;
	position: relative;
	width: auto;
    padding-bottom: 300px;
    behavior: url(js/vendor/PIE-1.0.0/PIE.htc);
}

@media screen and (min-width:700px){
	#messic-page-border{
		margin: 50px 2% 0;
	}
}

@media screen and (min-width:1100px){
	#messic-page-border{
		margin: 50px 7% 0;
	}
}

#messic-page-border:after{
    background: url("base/page-ribbon.png") no-repeat;
    width:191px;
    height: 197px;
    right: -189px;
    top: -188px;
    content: ' ';
    position: absolute;
}
/* To fill the content of the page */
#messic-page-border:before{
    content:' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F9F9F9;
}
#messic-page-content{
    height: auto;
    left: -109px;
    position: relative;
    top: -85px;
    /* Firefox */
	/* WebKit */
	/* Opera */
	width: -o-calc(100% + 225px);
	/* Standard */
    width: calc(100% + 225px);
}

#messic-page-content h1{
    margin-bottom: 25px;
    margin-right: 32px;
}
/** fill for the content... the bottom part is the player, 
so we need space enough to show the last content.. 
this fill enables enough scroll to show the last element */
.messic-content-last-fill{
	width:100%;
	height:200px;
}

@-ms-viewport {     width: extend-to-zoom; zoom: 1.0;  }

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#messic-wait{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.81);
}
#messic-wait-box {
    background:#F0F0F0; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(200, 200, 200, 0.8))) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #AAAAAA;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    display: block;
    height: 70px;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 300px;
    z-index: 1000000;
}

#messic-wait-box:before{
    /*http://preloaders.net/en/search/circle */
    background: url("base/339.GIF") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    float: left;
    height: 60px;
    left: 50%;
    width: 60px;
    margin-top: 5px;
}
#messic-wait-box p{
    border-left: 1px solid #AAAAAA;
    color: #555555;
    display: block;
    float: left;
    font-family: Roboto-black;
    font-size: 1em;
    height: 100%;
    line-height: 17px;
    margin: 0 0 0 10px;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
    width: 228px;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.required{
    color: #0000FF;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: underline;
}


#messicOverlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;
}
#messicOverlayContent {
    background: url("textures/light_noise_diagonal_@2X_darker.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 5px solid #555555;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
    opacity: 1;
    position: fixed;
    top: 50%;
    width: 600px;
}
#messicAvatar {
    background: url("base/messic.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    height: 124px;
    position: absolute;
    width: 100px;
}


#messicOverlay h1 {
    font-size: 2em;
    text-align: center;
}
#messicOverlayContent #messicPhrase {
    margin-left: 112px;
    margin-right: 17px;
}

#messicClose:hover {
    background: none repeat scroll 0 0 #aaffff;
    -webkit-box-shadow: 0 0 20px rgba(100, 255, 255, 1);
    box-shadow: 0 0 20px rgba(100, 255, 255, 1);
    color: #ffffff;
    font-family: roboto-bold;
    text-shadow: 0 0 1px rgba(0, 255, 255, 0.89);
}
#messicClose {
    background: none repeat scroll 0 0 white;
    border-radius: 10px;
    cursor: pointer;
    left: 50%;
    margin: 10px 10px 10px -75px;
    position: relative;
    text-align: center;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    width: 150px;
}
#messicOverlayContent > p {
    max-height: 200px;
    overflow-y: auto;
}
#messicPhrase > a {
    color: #4444ff;
    font-size: 1.2em;
}
#messicSkip {
    background: url("playlist/remove-vinyl.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 26px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 26px;
}

#messicSkip:hover {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}





/* http://johnsardine.com/freebies/dl-html-css/simple-little-tab/ */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

table {
    background: none repeat scroll 0 0 #eaebec;
    border: 1px solid #ccc;
    border-collapse: unset;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    color: #666;
    font-family: Roboto;
    font-size: 12px;
    margin: 20px;
    overflow: hidden;
}
table th:first-child {
    border-left: medium none;
}
table th {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #fafafa;
    padding: 7px;
    font-family: Roboto-bold;
    font-size: 1.2em;
}

table tbody tr:hover {
    background: none repeat scroll 0 0 #aaffff;
}
table tbody tr {
    padding-left: 20px;
    text-align: center;
}

table tr:last-child td {
    border-bottom: 0 none;
}
table td:first-child {
    border-left: 0 none;
}
table td {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #ffffff;
    padding: 4px;
}
