.k-textbox {
	display: inline-block;
}

.k-popup {
    background: linear-gradient(#CCCCCC, #EEEEEE) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.59);
    color: #555555;
    margin-bottom: 2px;
    margin-top: 2px;
}
.k-popup ul{
    list-style-type: none;
    padding-left: 0;
    text-indent: 5px;
    border-top: 1px double rgba(0, 0, 0, 0.05);
}

.k-popup li{
    border-bottom: 1px double rgba(0, 0, 0, 0.05);
    margin-top: 0
 }

.k-popup li:hover{
	background: #FFFFFF;
	color: 000000;
}


.k-dropdown-wrap {
    border-style: solid;
    border-width: 1px;
    padding: 0 1.9em 0 0;    

    position: relative;
    border-color: #CCCCCC;
    border-radius: 3px;
}

.k-dropdown-wrap input, .k-dropdown-wrap input:active, .k-dropdown-wrap input:hover, .k-dropdown-wrap input:focus{
    border-style: none;
}

.k-input {
    height: 1.65em;
    line-height: 1.65em;
    margin: 0;
    padding: 0.177em 0;
    text-indent: 0.33em;
}



.k-select{
    background: linear-gradient(#EEEEEE, #CCCCCC) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    line-height: 2em;
    min-height: 1.65em;
    text-align: center;
    vertical-align: middle;
    width: 1.9em;

    border-style: solid;
    border-width: 0 0 0 1px;

    display: inline-block;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    border-color: #CCCCCC;  
}

.k-icon{
        cursor: pointer;
        vertical-align: middle;

    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    width: 16px;
}

 .k-dropdown-wrap .k-icon{
 	content:'';

    border-color: #888888 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 8px 5px 0;
    height: 0;
    margin-top: -4px;
    width: 0;
}

.k-numerictextbox {
    border-radius: 4px;

}


.k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, 
.k-datetimepicker, .k-colorpicker, .k-numerictextbox, 
.k-dropdown, .k-selectbox, .k-textbox
{
    border-width: 1px;
    display: inline-block;
    overflow: visible;
    position: relative;
    vertical-align: middle;
}


.k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap
{
    display: block;
}

.k-autocomplete, .k-picker-wrap, .k-numeric-wrap{
    cursor: default;
    position: relative;
}

.k-select{
    border-color: #DBDBDE;
}

.k-numerictextbox .k-link{
    border-width: 0;
    display: block;
    height: 1em;
    line-height: 1em;
    padding: 0;
    vertical-align: middle;
}

.k-link{
    cursor: pointer;
}

 .k-i-arrow-n{
    content:'';

    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #888888;
    border-style: solid;
    border-width: 0 4px 7px;
    content: "";
    height: 0;
    margin-top: -4px;
    width: 0;
}

 .k-i-arrow-s{
    content:'';

    border-color: #888888 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 7px 4px 0;
    height: 0;
    margin-top: -4px;
    width: 0;
}

.k-link:hover .k-i-arrow-n{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000000;
 }

 .k-link:hover .k-i-arrow-s{
    border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

 .k-numeric-wrap {
    border:1px solid #CCCCCC;
    border-radius: 4px;
 }

 .k-numeric-wrap input, .k-numeric-wrap input:active, .k-numeric-wrap input:hover, .k-numeric-wrap input:focus{
    border-style: none;
}

 li.k-state-selected {
    background: #00BABA;
 }

 .k-tooltip-validation {
    background: none repeat scroll 0 0 #FFFF99;
    color: #444444;
    display: block;
    overflow: visible;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-indent: 24px;
    text-shadow: 0 0 1px #FFFFFF;
    width: 100%;
 }

 .k-icon.k-warning {
    background: url("upload/dialog_warning.png") no-repeat scroll 0 0 / 18px auto rgba(0, 0, 0, 0);
    height: 100px;
    left: 1px;
    position: absolute;
    width: 100px;
 }