/* @import url('jplayer/messic.blue.monday/jplayer.blue.monday.css'); */

@import url('playlist-player.css');

/** for those devices without hover event */

#messic-playlist-background.messic-playlist-background-opened #messic-playlist-actions {
    display: block;
    opacity: 1;
}
#messic-playlist-background:hover #messic-playlist-actions {
    display: block;
    opacity: 1;
}
#messic-playlist-actions:before {
    background: url("playlist/actions-border-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    float: left;
    height: 32px;
    margin-left: -45px;
    width: 46px;
}
#messic-playlist-actions {
    background: url("playlist/actions-base.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 32px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: -12px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: opacity, top;
    transition-property: opacity, top;
    width: auto;
    z-index: 1000;
}
.messic-playlist-action {
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    bottom: -33px;
    cursor: pointer;
    float: right;
    height: 40px;
    margin-right: 10px;
    margin-top: -3px;
    right: 0;
    width: 32px;
}
.messic-playlist-action:hover:active {
    border-bottom: 3px solid red;
}
.messic-playlist-action:hover {
    border-bottom: 3px solid #ffffff;
}
#messic-playlist-action-clear:before {
    background: url("playlist/actions-clear.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 29px;
    margin-left: 4px;
    margin-top: 10px;
    width: 26px;
}
#messic-playlist-action-fx:before {
    background: url("playlist/actions-fx.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 29px;
    margin-left: 3px;
    margin-top: 10px;
    width: 26px;
}
#messic-playlist-action-download:before {
    background: url("playlist/actions-download.png") no-repeat scroll -28px 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 29px;
    margin-left: 1px;
    margin-top: 10px;
    width: 29px;
}
#messic-playlist-action-radio:before {
    background: url("playlist/actions-radio.png") no-repeat scroll -0px 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 29px;
    margin-left: 1px;
    margin-top: 6px;
    width: 33px;
}
#messic-playlist-action-radio.messic-playlist-action-radio-on:before {
    background: url("playlist/actions-radio.png") no-repeat scroll -33px 0 rgba(0, 0, 0, 0);
}
#messic-playlist-action-love:before {
    background: url("playlist/actions-loveplaylist.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 29px;
    margin-top: 10px;
    width: 31px;
}
#messic-playlist-action-pin {
    width: 21px;
}
#messic-playlist-action-pin.messic-playlist-action-pin-in:before {
    background: url("playlist/actions-pin2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#messic-playlist-action-pin:before {
    background: url("playlist/actions-pin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 29px;
    margin-top: 10px;
    width: 31px;
}

/* styles for the playlist scrollbar */


/* ---------------------------------------------------------*/

#messic-playlist .viewport {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#messic-playlist .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 15px;
}
#messic-playlist .thumb .end,
#messic-playlist .thumb {
    background: #AAAAAA;
}
#messic-playlist .thumb .end,
#messic-playlist .thumb:hover {
    background: #FFFFFF;
}
#messic-playlist .thumb .end,
#messic-playlist .thumb:active {
    background: #4488FF;
}
#messic-playlist .scrollbar {
    position: absolute;
    float: right;
    width: 15px;
    bottom: 0px;
    height: 10px;
    margin-bottom: 10px;
}
#messic-playlist .track {
    height: 100%;
    width: 13px;
    position: relative;
    padding: 0 1px;
}
#messic-playlist .thumb {
    border-radius: 14px 14px 14px 14px;
    cursor: pointer;
    height: 6px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 13px;
    border: 1px solid #555555;
}
#messic-playlist .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 13px;
}
#messic-playlist .end {
    display: none
}
#messic-playlist .disable {
    display: none;
}
.noSelect {
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/*******************************************************************/


/** for devices without hover */

#messic-playlist-background.messic-playlist-background-opened #jquery_jplayer_content {
    -webkit-animation: 0s ease 0s normal none 1 none;
    animation: 0s ease 0s normal none 1 none;
    display: block;
    opacity: 1;
}

/* player content position - TODO maybe this should be done outside, at jplayer skin*/

#jquery_jplayer_content {
    bottom: 118px;
    left: 50%;
    margin-left: -160px;
    position: absolute;
    z-index: 1000;
    -webkit-animation-name: messic-jplayer-fadeout-anim;
    animation-name: messic-jplayer-fadeout-anim;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: ease-in;
    animation-direction: ease-in;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: messic-jplayer-fadeout-anim;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: ease-in;
    -webkit-animation-delay: 0s;
    opacity: 0;
    display: none;
}

/* some redefinition of the base playlist theme*/

#messic-playlist div.jp-title,
#messic-playlist div.jp-playlist {
    border: 0px;
}

/** ---------------------------------------- */


/* player and playlist visible when mouse hover playlist */

#messic-playlist-background:hover #jquery_jplayer_content {
    -webkit-animation-name: messic-jplayer-fadein-anim;
    animation-name: messic-jplayer-fadein-anim;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: ease-in;
    animation-direction: ease-in;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: messic-jplayer-fadein-anim;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: ease-in;
    -webkit-animation-delay: 0s;
    opacity: 1;
    display: block;
}
@keyframes messic-jplayer-fadein-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes messic-jplayer-fadein-anim
/* Safari and Chrome */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes messic-jplayer-fadeout-anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@-webkit-keyframes messic-jplayer-fadeout-anim
/* Safari and Chrome */

{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
#messic-playlist-background:hover,
#messic-playlist-background.interesting {
    bottom: 0px;
}
#messic-playlist-open {
    background: url("playlist/openplaylist.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 42px;
    left: 0;
    position: absolute;
    top: -22px;
    width: 73px;
    z-index: 1;
}

/** the background of the playlist */


/**for devices without hover **/

#messic-playlist-background.messic-playlist-background-opened {
    bottom: 0px;
}
#messic-playlist-background.messic-playlist-background-closed {
    bottom: -122px;
}

/** the background of the playlist */

#messic-playlist-background {
    position: fixed;
    /** fixed at bottom */
    bottom: -122px;
    height: 148px;
    width: 100%;
    overflow: visible;
    padding-bottom: 10px;
    z-index: 100;
    -webkit-transition-property: bottom;
    transition-property: bottom;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    /** important to avoid selection when the scrollbar start */
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-animation-name: messic-playlist-background-anim;
    animation-name: messic-playlist-background-anim;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: ease-in;
    animation-direction: ease-in;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: messic-playlist-background-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: ease-in;
    -webkit-animation-delay: 0s;
}
@keyframes messic-playlist-background-anim {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -119px;
    }
}
@-webkit-keyframes messic-playlist-background-anim
/* Safari and Chrome */

{
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -119px;
    }
}

/** ---------------------------------------- */


/** configuration of the playlist and ul to show scrolls bars */

#messic-playlist .mCSB_container {
    overflow: visible;
}
.playlist-moveprevious:hover:active {
    background-position: -57px 0;
}
.playlist-moveprevious:hover {
    background-position: -29px 0;
}
.playlist-moveprevious {
    background: url("playlist/playlistqueue-buttons.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 106px;
    margin-left: -32px;
    margin-top: 23px;
    width: 28px;
    cursor: pointer;
}
.playlist-movenext:hover:active {
    background-position: -56px 106px;
}
.playlist-movenext:hover {
    background-position: -28px 106px;
}
.playlist-movenext {
    background: url("playlist/playlistqueue-buttons.png") repeat scroll 0 106px rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 106px;
    margin-left: 4px;
    margin-right: -33px;
    margin-top: 23px;
    width: 28px;
}
#messic-playlist {
    background: url("playlist/playlist-background-composed.png") repeat scroll 0 0 / 289px 138px rgba(0, 0, 0, 0);
    height: 100%;
    margin: 20px auto;
    overflow-x: visible;
    overflow-y: hidden;
    padding-left: 33px;
    padding-right: 33px;
    position: relative;
    width: auto;
}
#messic-playlist-container {
    overflow: hidden;
    white-space: nowrap;
    display: inline;
    padding: 0 5px;
}

/** ---------------------------------------- */


/** each li from the playlist is a vinyl box */

.jplayer-playlist-li {
    display: inline-block;
    list-style-type: none;
    /* background:#00FF00; */
    padding: 0;
    margin-right: 14px;
    margin-top: 10px;
    width: 77px;
    /** here we have the size of the vinyl */
    height: 125px;
    /** here we have the size of the vinyl */
    border-bottom: 0px;
    -webkit-transition-property: margin-right;
    transition-property: margin-right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/** when hover, we need more space to see a portionn of the vinyl disc */

.jplayer-playlist-li:hover {
    margin-right: 40px;
    -webkit-transition-property: margin-right;
    transition-property: margin-right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.jplayer-playlist-li-expanding {
    display: inline-block;
    list-style-type: none;
    /* background:#00FF00; */
    padding: 0;
    margin-right: 8px;
    margin-top: 10px;
    width: 77px;
    /** here we have the size of the vinyl */
    height: 125px;
    /** here we have the size of the vinyl */
    border-bottom: 0px;
    -webkit-animation-name: jplayer-playlist-li-expanding-animation;
    animation-name: jplayer-playlist-li-expanding-animation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: jplayer-playlist-li-expanding-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0s;
}
@keyframes jplayer-playlist-li-expanding-animation {
    0% {
        margin-right: 40px;
    }
    20% {
        margin-right: 85px;
    }
    50% {
        margin-right: 85px;
    }
    100% {
        margin-right: 8px;
    }
}
@-webkit-keyframes jplayer-playlist-li-expanding-animation
/* Safari and Chrome */

{
    0% {
        margin-right: 40px;
    }
    20% {
        margin-right: 85px;
    }
    50% {
        margin-right: 85px;
    }
    100% {
        margin-right: 8px;
    }
}

/** ---------------------------------------- */


/** container of all the elements of the vinyl*/

.jplayer-playlist-vinyl-container {
    width: 100%;
    height: 75px;
    position: relative;
    z-index: 10;
    /** PERSPECTIVE
    transform: perspective( 120px ) rotateY( -25deg );
    -webkit-transform: perspective( 120px ) rotateY( -25deg );
    -moz-transform: perspective( 120px ) rotateY( -25deg );
    */
}
.jplayer-playlist-vinyl-container:hover {
    z-index: 100;
    /* PERSPECTIVE
    transform: perspective( 120px ) rotateY( 0deg );
    -webkit-transform: perspective( 120px ) rotateY( 0deg );
    -moz-transform: perspective( 120px ) rotateY( 0deg );
    transition-property : all; 
    transition-duration : 0.5s;
    */
}

/** ---------------------------------------- */


/** the vinyl disc parent style */

.jplayer-playlist-vinyl.jplayer-playlist-vinyl-ratetwo {
    background: url("playlist/vinyl-red.png") no-repeat scroll 0 0 transparent;
}
.jplayer-playlist-vinyl.jplayer-playlist-vinyl-ratethree {
    background: url("playlist/vinyl-gold.png") no-repeat scroll 0 0 transparent;
}
.jplayer-playlist-vinyl {
    background: url("playlist/vinyl.png") no-repeat scroll 0 0 transparent;
    height: 85px;
    position: absolute;
    width: 85px;
    top: -3px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/** the vinyl disc hided at the back*/

.jplayer-playlist-vinylHide {
    left: -2px;
    z-index: 1;
}

/** the vinyl disc, when hover, showing an small portion of the disc */

.jplayer-playlist-vinyl-container:hover .jplayer-playlist-vinylHide {
    left: 35px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 1;
}

/** the vinyl disc but playing music */

.jplayer-playlist-vinylPlaying.jplayer-playlist-vinylPaused {
    -webkit-animation-name: none;
    animation-name: none;
}
.jplayer-playlist-vinylPlaying {
    -webkit-animation-name: jplayer-playlist-vinylPlaying-animation, jplayer-playlist-vinylPlaying-rotate;
    animation-name: jplayer-playlist-vinylPlaying-animation, jplayer-playlist-vinylPlaying-rotate;
    -webkit-animation-duration: 2s, 1.3s;
    animation-duration: 2s, 1.3s;
    /*45 rpm*/
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-direction: normal, normal;
    animation-direction: normal, normal;
    -webkit-animation-delay: 0s, 2s;
    animation-delay: 0s, 2s;
    -webkit-animation-name: jplayer-playlist-vinylPlaying-animation, jplayer-playlist-vinylPlaying-rotate;
    -webkit-animation-duration: 2s, 1.3s;
    /* 45rpm*/
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-delay: 0s, 2s;
    z-index: 5;
    /* Now, it's at the front */
}

/** ANIMATIONS */

@keyframes jplayer-playlist-vinylPlaying-animation {
    0% {
        left: 35px;
        z-index: 0;
    }
    50% {
        left: 80px;
        z-index: 0;
    }
    51% {
        z-index: 5;
    }
    100% {
        left: 2px;
        z-index: 5;
    }
}
@-webkit-keyframes jplayer-playlist-vinylPlaying-animation
/* Safari and Chrome */

{
    0% {
        left: 35px;
        z-index: 0;
    }
    50% {
        left: 80px;
        z-index: 0;
    }
    51% {
        z-index: 5;
    }
    10 0% {
        left: 2px;
        z-index: 5;
    }
}
@keyframes jplayer-playlist-vinylPlaying-rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes jplayer-playlist-vinylPlaying-rotate
/* Safari and Chrome */

{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/** ---------------------------------------- */


/* The hand of the vinyl, aguja to play */

.jplayer-playlist-vinylHand {
    width: 19px;
    height: 57px;
    background: url("playlist/vinyl-hand.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    left: 65px;
    top: -14px;
    z-index: 10;
    z-index: 10;
    -webkit-transform-origin: 0px 0px 0px;
    -ms-transform-origin: 0px 0px 0px;
    transform-origin: 0px 0px 0px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0px 0px 0px;
    -webkit-transform: rotate(-90deg);
}
.jplayer-playlist-vinylHandPlaying {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /** the end state of the animation is the final state of the style */
    -webkit-animation-name: jplayer-playlist-vinylhand-animation, jplayer-playlist-vinylhand-breakbeat;
    animation-name: jplayer-playlist-vinylhand-animation, jplayer-playlist-vinylhand-breakbeat;
    -webkit-animation-duration: 2s, 3s;
    animation-duration: 2s, 3s;
    -webkit-animation-timing-function: ease, linear;
    animation-timing-function: ease, linear;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-direction: alternate, alternate;
    animation-direction: alternate, alternate;
    -webkit-animation-delay: 1s, 3s;
    animation-delay: 1s, 3s;
    -webkit-animation-fill-mode: forwards;
    /** the end state of the animation is the final state of the style */
    -webkit-animation-name: jplayer-playlist-vinylhand-animation, jplayer-playlist-vinylhand-breakbeat;
    -webkit-animation-duration: 2s, 3s;
    -webkit-animation-timing-function: ease, linear;
    -webkit-animation-iteration-count: 1, infinite;
    -webkit-animation-direction: alternate, alternate;
    -webkit-animation-delay: 1s, 3s;
}
@keyframes jplayer-playlist-vinylhand-animation {
    from {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        bottom: -100px;
    }
    to {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: -85px
    }
}
@-webkit-keyframes jplayer-playlist-vinylhand-animation {
    from {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(-90deg);
    }
    to {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
    }
}
@keyframes jplayer-playlist-vinylhand-breakbeat {
    0% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    26% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    65% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    66% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    67% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    95% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    96% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}
@-webkit-keyframes jplayer-playlist-vinylhand-breakbeat {
    0% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(2deg);
    }
    26% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
    }
    65% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(4deg);
    }
    66% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(8deg);
    }
    67% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(4deg);
    }
    95% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(2deg);
    }
    96% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform-origin: 0 0 0;
        -webkit-transform: rotate(1deg);
    }
}

/** ---------------------------------------- */


/* box with the art, the picture of the vinyl box */

.jplayer-playlist-vinylbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 1px dotted #888888;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
    border-radius: 4px 4px 4px 4px;
}

/** ---------------------------------------- */


/* menu button */

.jplayer-playlist-vinyl-container:hover .jplayer-playlist-song-menu:hover {
    opacity: 1;
    background: url("home/more.png") repeat scroll 24px 0 rgba(0, 0, 0, 0);
}
.jplayer-playlist-vinyl-container:hover .jplayer-playlist-song-menu {
    opacity: 0.5;
}
.jplayer-playlist-song-menu {
    background: url("home/more.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 24px;
    margin-left: 55px;
    margin-top: 1px;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.45s ease-in-out 0s;
    transition: opacity 0.45s ease-in-out 0s;
    width: 24px;
    z-index: 11;
}

/* Remove button */

.jplayer-playlist-remove {
    background: url("playlist/remove-vinyl.png") no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: 5;
    opacity: 0;
    /*by default we can't see it */
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
}
.jplayer-playlist-vinyl-container:hover .jplayer-playlist-remove:hover {
    opacity: 1;
    -webkit-animation-name: jplayer-playlist-remove-rotate;
    animation-name: jplayer-playlist-remove-rotate;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    /*45 rpm*/
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: jplayer-playlist-remove-rotate;
    -webkit-animation-duration: 1s;
    /*45 rpm*/
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/** the play button appears only when the mouse is hover the container */

.jplayer-playlist-vinyl-container:hover .jplayer-playlist-remove {
    opacity: 0.4;
}

/** ANIMATIONS */

@keyframes jplayer-playlist-remove-rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}
@-webkit-keyframes jplayer-playlist-remove-rotate
/* Safari and Chrome */

{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
    }
}

/*********************************************/


/** ---------------------------------------- */


/* The base of the vinyl Play button */

.jplayer-playlist-vinylPlayButton {
    background: url("playlist/vinyl-play.png") no-repeat scroll 0 0 transparent;
    height: 38px;
    left: 18px;
    position: absolute;
    top: 20px;
    width: 38px;
    z-index: 3;
    opacity: 0;
    /*by default we can't see it */
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
}

/** the play button appears only when the mouse is hover the container */

.jplayer-playlist-vinyl-container:hover .jplayer-playlist-vinylPlayButton {
    opacity: 1;
    -webkit-animation-name: jplayer-playlist-vinylplayButton-pulse;
    animation-name: jplayer-playlist-vinylplayButton-pulse;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-name: jplayer-playlist-vinylplayButton-pulse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
.jplayer-playlist-vinylPlayButton:hover {
    cursor: pointer;
    /** pointer when hover the play picture */
}
@-webkit-keyframes jplayer-playlist-vinylplayButton-pulse {
    from {
        -webkit-transform: scale(0.9);
    }
    to {
        -webkit-transform: scale(1.0);
    }
}
@keyframes jplayer-playlist-vinylplayButton-pulse {
    from {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    to {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* ################################################### */


/* Song, Artist, And Album info style*/

.jplayer-playlist-vinyl-song {
    height: 13px;
    width: 100%;
    float: left;
    color: #FFFFFF;
    font: normal bold normal 0.9em Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0px;
    position: relative;
    z-index: 8;
}
.jplayer-playlist-vinyl-container:hover .jplayer-playlist-vinyl-song {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #00baba;
    font: bold 0.9em Verdana, sans-serif;
    height: 13px;
    margin-top: 0;
    min-width: 100%;
    overflow: inherit;
    text-decoration: none;
    width: auto;
    z-index: 50;
}
.jplayer-playlist-vinyl-container:hover .jplayer-playlist-vinyl-author {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    color: #007676;
    font: bold 0.9em Verdana, sans-serif;
    height: 13px;
    margin-top: 0;
    overflow: inherit;
    text-decoration: none;
    z-index: 50;
    width: auto;
    min-width: 100%;
}
.jplayer-playlist-vinyl-container:hover .jplayer-playlist-vinyl-author:hover {
    color: red;
    text-decoration: underline;
}
.jplayer-playlist-vinyl-container:hover .jplayer-playlist-vinyl-song:hover {
    color: red;
    text-decoration: underline;
}
.jplayer-playlist-vinyl-album {
    width: 0px;
    height: 13px;
    float: left;
    color: #AAAAAA;
    font: normal bold normal 0.9em Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    opacity: 0;
}
.jplayer-playlist-vinyl-author {
    width: 100%;
    height: 13px;
    float: left;
    color: #444444;
    font: normal bold normal 1em Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    margin-top: 0px;
    position: relative;
    z-index: 8;
}
.messic-canvas-fx {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;
}
.jplayer-playlist-radio {
    display: none;
}
.jplayer-playlist-radio-on {
    background: rgba(0, 0, 0, 0) url("playlist/actions-radio.png") no-repeat scroll -33px 0;
    content: "";
    display: block;
    height: 29px;
    margin-left: 27px;
    margin-top: 52px;
    width: 33px;
    position: absolute;
    z-index: 9999;
}

/* RADIO PLAYER */

#messic_radio_player_container {
    background: #aaaaaa none repeat scroll 0 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 4px #000000;
    display: block;
    height: 93px;
    left: 50%;
    overflow: hidden;
    position: fixed;
    width: 236px;
    z-index: 9999999;
    margin-left: -100px;
    top: 50%;
    margin-top: -50px;
}
.messic_radio_player_body {
    background: #999999 none repeat scroll 0 0;
    height: 53px;
    padding: 10px;
    width: 218px;
}
.messic_radio_player_body .jp-volume-bar {
    float: left;
}
#messic_radio_player_container label {
    color: #eeeeee;
    font-family: Roboto-bold;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 1px #333333;
    width: 100%;
}
#messic_radio_player_container label.messic_radio_link {
    float: left;
    height: 100%;
    margin-left: 58px;
    margin-top: 0;
    width: 134px;
}
#messic_radio_player_container div.jp-volume-bar-value {
    bottom: 3px;
    height: 100%;
}
#messic_radio_player_container .jp-volume-bar-line {
    height: 35px;
    position: absolute;
}
#messic_radio_player_container #messic_radio_player {
    background: #aaaaaa none repeat scroll 0 0;
    display: block;
    height: 27px;
    display: none;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: 9999;
}
#messic_radio_player_container .messic_radio_link {
    font-family: roboto;
    font-size: 13px;
    margin-top: 10px;
    text-align: left;
    text-shadow: 0 0 0;
    width: 100%;
}
#messic_radio_player_container .messic_radio_link a {
    color: #5566ff;
    font-family: roboto;
    font-size: 13px;
}
#messic_radio_logo::before {
    background: rgba(0, 0, 0, 0) url("radio/logotipo-512x512.png") repeat scroll 0 0 / 300px 300px;
    content: "";
    display: block;
    height: 300px;
    width: 300px;
}
#messic_radio_logo {
    font-family: roboto-bold;
    font-size: 50px;
    margin: 30px;
    opacity: 0.7;
    text-align: center;
    text-shadow: 0 0 1px rgba(50, 50, 50, 0.5);
    width: 300px;
}
#messic_radio_logo a {
    color: white;
    font-family: roboto-bold;
    font-size: 53px;
    text-decoration: none;
}
