
#messic-page-border.messic-user-settings-border {

    width: 600px;

}

#messic-user-settings-content label {

    margin-left: 0;

    padding-right: 27px;

    position: relative;

    pointer-events: none;

    max-width: 300px;

}

.messic-user-settings-container {

    border-bottom: 3px solid #AAAAAA;

    margin-bottom: 10px;

    min-height: 290px;

    padding-left: 30px;

}

.messic-user-settings-menu-container {

    background: #E9E9E9;

    /* Old browsers */

    background: -webkit-gradient(linear, left top, right top, color-stop(6%, rgba(255, 255, 255, 0)), to(#E9E9E9)) repeat scroll 0 0 rgba(0, 0, 0, 0);

    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 6%, #E9E9E9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);

    background: linear-gradient(to right, rgba(255, 255, 255, 0) 6%, #E9E9E9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);

    border-right: 1px solid #CCCCCC;

    float: left;

    font-family: Arial;

    height: 100000px;

    left: -24px;

    margin-left: -24px;

    margin-right: 14px;

    margin-top: -57px;

    padding-top: 86px;

    width: 199px;

}

#messic-user-settings-content {

    float: left;

    height: 100%;

    margin-top: -15px;

    /* Firefox */

    /* WebKit */

    /* Opera */

    width: -o-calc(100% - 190px);

    /* Standard */

    width: calc(100% - 190px);

}

.messic-user-settings-menu-option-selected {

    background: url("user/selectedTab.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    height: 50px;

    padding-top: 12px;

    width: 238px;

}

.messic-user-settings-menu-option-unselected {

    border-bottom: 1px solid #CDCDCD;

    height: 50px;

    padding-top: 12px;

}

.messic-user-settings-menu-option-unselected:hover {

    background: none repeat scroll 0 0 #dfdfdf;

    border-bottom: 0 solid #aaaaaa;

    border-bottom-left-radius: 18px;

    -webkit-border-image: none;

    -o-border-image: none;

    border-image: none;

    border-right: 0 solid #aaaaaa;

    border-top: 0 solid #aaaaaa;

    border-top-right-radius: 18px;

    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.49) inset;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.49) inset;

}

.messic-user-settings-title {

    border-bottom: 3px solid;

    color: #999999;

    float: left;

    font-family: Amaranth !important;

    font-size: 1.5em;

    margin-top: -47px;

    text-align: left;

    /* Firefox */

    /* WebKit */

    /* Opera */

    width: -o-calc(100% - 235px);

    /* Standard */

    width: calc(100% - 235px);

}

.messic-user-settings-menu-option-selected .messic-user-settings-menu-option-title {

    color: #FFFFFF;

    text-shadow: 0 0 3px rgba(255, 255, 255, 0.84);

    width: 170px;

}

.messic-user-settings-menu-option-title {

    font-family: Roboto;

    font-size: 1.5em;

    margin-bottom: -5px;

    margin-top: -6px;

    float: left;

    width: 140px;

}

#messic-user-settings-menu-basic.messic-user-settings-menu-option-selected .messic-user-settings-menu-option-image {

    background: url("user/home-icon-basic-w.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

#messic-user-settings-menu-basic .messic-user-settings-menu-option-image {

    background: url("user/home-icon-basic-b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    margin-top: 4px;

}

#messic-user-settings-menu-music.messic-user-settings-menu-option-selected .messic-user-settings-menu-option-image {

    background: url("user/home-icon-music-w.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

#messic-user-settings-menu-music .messic-user-settings-menu-option-image {

    background: url("user/home-icon-music-b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    margin-top: 4px;

}

#messic-user-settings-menu-admin.messic-user-settings-menu-option-selected .messic-user-settings-menu-option-image {

    background: url("user/home-icon-admin-w.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

#messic-user-settings-menu-admin .messic-user-settings-menu-option-image {

    background: url("user/home-icon-admin-b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    margin-top: 4px;

}

#messic-user-settings-menu-stats.messic-user-settings-menu-option-selected .messic-user-settings-menu-option-image {

    background: url("user/home-icon-stats-w.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}

#messic-user-settings-menu-stats .messic-user-settings-menu-option-image {

    background: url("user/home-icon-stats-b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    margin-top: 4px;

}

.messic-user-settings-menu-option-selected .messic-user-settings-menu-option-subtitle {

    color: #FFFFFF;

    text-shadow: 0 0 3px rgba(255, 255, 255, 0.84);

}

.messic-user-settings-menu-option-image {

    float: left;

    height: 39px;

    margin-left: 10px;

    margin-right: 10px;

    margin-top: 0;

    width: 36px;

}

#messic-user-settings-content ul {

    list-style: none outside none;

    padding-left: 0px;

}

#messic-user-settings-content li {

    overflow: visible;

    position: relative;

    -webkit-transition-duration: 1s;

    transition-duration: 1s;

    -webkit-transition-property: height;

    transition-property: height;

    width: 300px;

}

#messic-user-settings-content li input {

    width: 298px;

}

#messic-user-settings-content li input[type="checkbox"] {

    width: 17px;

    float: left;

    margin-right: 11px;

}

.messic-user-settings-basic-data-container {

    float: left;

    width: 360px;

}

.messic-user-settings-buttons {

    float: left;

    width: calc(100% - 190px);

}

.messic-user-settings-buttons button.skull {

    float: right;

}

.messic-user-settings-basic-avatar-container:after {

    background: url("user/ripped.png") no-repeat scroll 0 0 / 252px 197px rgba(0, 0, 0, 0);

    content: " ";

    height: 196px;

    margin-left: -226px;

    margin-top: -12px;

    position: absolute;

    width: 257px;

}

.messic-user-settings-basic-avatar-container {

    float: left;

    height: 196px;

    margin-left: -37px;

    margin-top: 22px;

    width: 259px;

    cursor: pointer;

}

.messic-user-settings-avatar-mark {

    color: #AAAAAA;

    font-family: Roboto;

    font-size: 0.9em;

    margin-left: 99px;

    margin-top: -10px;

    cursor: pointer;

}

.messic-user-settings-menu-notvisible {

    display: none;

}

.messic-user-settings-basic-avatar-container img {

    margin-left: 102px;

    margin-top: 6px;

    width: 124px;

    max-height: 126px;

}

#messic-user-settings-captcha {

    border: 1px solid #BBBBBB;

    margin-bottom: 3px;

    width: 298px;

}

#messic-user-settings-captcha-explanation {

    color: #AAAAAA;

    font-family: roboto;

    font-size: 0.8em;

    margin-top: 28px;

}

#messic-user-settings-captcha-reload {

    background: url("user/refresh-g.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    cursor: pointer;

    height: 30px;

    margin-left: 270px;

    margin-top: -152px;

    position: absolute;

    width: 30px;

}

.messic-user-settings-content-help {

    background: url("base/info.png") no-repeat scroll 0 0 / 24px 24px rgba(0, 0, 0, 0);

    content: "";

    cursor: help;

    display: block;

    height: 24px;

    margin-left: 280px;

    margin-right: 10px;

    margin-top: -21px;

    position: relative;

    width: 24px;

}

.messic-user-settings-content-help:hover ~ .messic-user-settings-content-info {

    max-height: 500px;

}

.messic-user-settings-content-info {

    background: none repeat scroll 0 0 #ddddff;

    color: #3333aa;

    float: left;

    font-family: Roboto;

    font-size: 0.8em;

    margin-bottom: 16px;

    max-height: 0;

    overflow: hidden;

    padding: 2px 10px;

    text-align: left;

    -webkit-transition-duration: 0.5s;

    transition-duration: 0.5s;

    -webkit-transition-property: max-height;

    transition-property: max-height;

}

.messic-user-settings-buttons button {

    margin-right: 13px;

}

.messic-user-settings-users-col-user {

    width: 100px;

}

.messic-user-settings-users-col-login {

    width: 100px;

}

.messic-user-settings-content-users-resetpassword {

    background: url("user/resetpassword.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    height: 32px;

    width: 26px;

    float: left;

    margin-left: 15px;

    cursor: pointer;

}

.messic-user-settings-content-users-resetpassword:active {

    background-position: -26px 1px;

}

.messic-user-settings-content-users-resetpassword:hover {

    background-position: -26px 0;

}

/*	http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Places-user-trash-icon.png */

#messic-user-settings-removeaccount {

    background: url("user/Places-user-trash-icon.png") no-repeat scroll center center / 90px auto rgba(200, 200, 200, 0.31);

    border: 1px solid #cacaca;

    border-radius: 8px;

    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);

    cursor: pointer;

    height: 90px;

    margin-bottom: 10px;

    margin-left: 50px;

    margin-top: -80px;

    padding: 4px;

    position: relative;

    width: 90px;

}

#messic-user-settings-removeaccount:hover {

    background-color: rgba(255, 50, 50, 0.69);

    border: 1px solid #ff8888;

    -webkit-box-shadow: 0 0 7px rgba(255, 100, 100, 1);

    box-shadow: 0 0 7px rgba(255, 100, 100, 1);

}

.messic-user-settings-genres-col-actions {

    padding-left: 15px;

}

.messic-user-settings-content-genres-fuse {

    background: url("user/fuse.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    height: 24px;

    width: 24px;

    float: left;

    margin-top: 6px;

    cursor: pointer;

}

.messic-user-settings-content-genres-edit {

    background: url("album/edit2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);

    height: 24px;

    width: 24px;

    float: left;

    margin-top: 6px;

    cursor: pointer;

    margin-right: 15px;

}

.messic-user-settings-content-genres-remove {

    background: url("album/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    cursor: pointer;

    float: left;

    height: 26px;

    margin-right: 15px;

    margin-top: 6px;

    width: 22px;

}

.messic-user-settings-content-users-remove {

    background: url("album/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    height: 26px;

    width: 22px;

    float: left;

    margin-top: 6px;

    cursor: pointer;

}

.messic-user-settings-content-users-remove:active {

    background-position: -23px 1px;

}

.messic-user-settings-content-users-remove:hover {

    background-position: -23px 0;

}

#messic-user-settings-content-users-table {

    margin-bottom: 25px;

    margin-left: 10px;

    margin-top: 10px;

}

.messic-user-settings-users-col-actions {

    padding-left: 15px;

    padding-right: 15px;

}

#messic-settings-genre-edit-container-overlay {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);

    height: 100%;

    left: 0;

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 2147483647;

}

#messic-settings-genre-fuse-container {

    background: none repeat scroll 0 0 #f4f4f4;

    border-radius: 13px;

    height: 220px;

    left: 50%;

    margin-left: -300px;

    margin-top: -100px;

    padding: 20px;

    position: absolute;

    top: 50%;

    width: 500px;

}

#messic-settings-genre-fuse-container > p {

    font-family: roboto;

    font-size: 0.8em;

    color: #AAAAAA;

}

#messic-settings-genre-fuse-container > input {

    margin-bottom: 15px;

    width: 490px;

}

#messic-settings-genre-edit-container {

    background: none repeat scroll 0 0 #f4f4f4;

    border-radius: 13px;

    height: 76px;

    left: 50%;

    margin-left: -150px;

    margin-top: -40px;

    padding: 20px;

    position: absolute;

    top: 50%;

    width: 300px;

}

#messic-settings-genre-edit-container > input {

    margin-bottom: 15px;

    width: 100%;

}

#messic-settings-genre-edit-container > button {

    margin-right: 30px;

}






#messic-settings-consistency-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


#messic-settings-consistency-container {
    background: none repeat scroll 0 0 #f4f4f4;
    border-radius: 13px;
    height: 300px;
    left: 50%;
    margin-left: -300px;
    margin-top: -150px;
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 500px;
}

.messic-settings-consistency-title {
    color: #666666;
    font-family: Amaranth;
    font-size: 19px;
    font-weight: bold;
    margin-top: -12px;
    width: 100%;    
}
.messic-settings-consistency-title::after {
    background: #999999;
    height: 1px;
    width: 100%;
    display: block;
    position: relative;
    content: "";
}
.messic-settings-consistency-desc{
    color: #999999;
    font-family: roboto;
    font-size: 15px;
}

#messic-settings-consistency-container textarea {
    height: 100px;
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 10px;
}
.messic-settings-consistency-progress {
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    float: left;
    height: 13px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 2px;
    width: 100%;
}
.messic-settings-consistency-progressbar {
    background: #00CACA;
    /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#00BABA), to(#00CACA)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(#00BABA, #00CACA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(#00BABA, #00CACA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#messic-settings-consistency-start {
    margin-right: 20px;
}


