.messic-upload-container-border{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 275px;
    height: auto;
    overflow: visible;
    padding: 3px;
    width:404px;
    float: left;
    margin-right: 30px;
}
.messic-upload-container
{
    background: #FFFFFF;
    border: 1px dashed #DDDDDD;
    font-family: Roboto-black;
    font-size: 0.8em;
    padding: 0px 10px 10px 55px;
    position: relative;
    width: auto;
}

.messic-upload-container:before{
    width: 41px;
    height: 48px;
    position: absolute;
    left: 5px;
    top:-5px;
    content: ' ';
}

#messic-upload-container-album-container-border .messic-upload-container:before{
    background: url("upload/ribbon-vinyl.png") no-repeat;
}
#messic-upload-container-song-container-border .messic-upload-container:before{
    background: url("upload/ribbon-music.png") no-repeat;
}


                .k-textbox {
                    width: 11.8em;
                }

                #messic-upload-album-container h3 {
                    font-weight: normal;
                    font-size: 1.4em;
                    border-bottom: 1px solid #ccc;
                    margin-top: 5px;
                    font-family: roboto-black;
                    text-shadow: 0 0 1px rgba(0,88,55,0.5);
                    color: #0088FF;
                }

                #messic-upload-album-container ul {
                    list-style-type: none;
                    margin-left: -55px;
                    padding: 0;
                }
                #messic-upload-album-container li {
                    margin: 10px 0 0 0;
                }

                #messic-upload-album-container label {
                    display: inline-block;
                    width: 90px;
                    text-align: right;
                }

                .required {
                    font-weight: bold;
                }

                .accept, .status {
                    padding-left: 90px;
                }

                .valid {
                    color: green;
                }

                .invalid {
                    color: red;
                }
                span.k-tooltip {
                    margin-left: 6px;
                }









#messic-upload-song-container
{
	font: normal 11px Verdana,sans-serif;
	min-width:400px;
	float:left;
	padding:0px;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	overflow:hidden;
	box-shadow:0px 0px 8px rgba(0,0,0,0.5)
}

.divclearer{
	clear:both;
	height:0px;
	content:&nbsp;
}

.messic-upload-song-header{
	background: url("backgrounds.gif") repeat-x scroll 0 0 #2A2C2E;
    min-height: 56px;
    color: #FFFFFF;
}

#messic-upload-song-container #messic-upload-song-header-addbutton{
    background: none repeat scroll 0 0 #DFDFDF;
    border-radius: 47px;
    float: left;
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 36px;
    content:'+';
}

#messic-upload-song-container #messic-upload-song-header-addinput{
	display:none;
}

#messic-upload-song-container #messic-upload-song-header-addbutton:hover{
    background: none repeat scroll 0 0 #FFFFFF;
}

.messic-upload-song-header-title{
	float:left;
	width: 500px;
}

.messic-upload-song-header-titlea{
    font: 18px sans-serif;
    padding: 6px 0 3px;
}

.messic-upload-song-header-titleb{
	width:100%;
	font: 12px sans-serif;
}
.messic-upload-song-content-header, .messic-upload-song-content-footer{
    background: none repeat scroll 0 0 #DFDFDF;
    color: #42454A;
    padding: 8px 20px 8px 8px;
}

.messic-upload-song-content-header-filename,
.messic-upload-song-content-header-track{
    float: left;
    overflow: visible;
}
.messic-upload-song-content-header-track{
	margin-right:10px;
	width:40px;
	vertical-align: center;
	text-align: center;
}
.messic-upload-song-content-header-filesize, 
.messic-upload-song-content-header-filestatus, 
.messic-upload-song-content-header-fileaction {
    text-align: right;
}
.messic-upload-song-content-header-fileaction {
    float: right;
    height: 16px;
    margin-left: 15px;
    width: 16px;
}
.messic-upload-song-content-header-filesize, 
.messic-upload-song-content-header-filestatus, 
.messic-upload-song-content-header-progress {
    float: right;
    width: 80px;
}
.messic-upload-song-content-footer {
    border-top: 1px solid #FFFFFF;
    vertical-align: middle;
}
#messic-upload-song-content-songs {
    background: none repeat scroll 0 0 #FCFCFC;
    height: 200px;
    overflow-y: scroll;
	margin:0px;
	padding:0px;
	/*
	text-align:center;
	line-height: 200px;
	font-size: 2em;
	*/
}

#messic-upload-song-content-songs li{
    border-bottom: 1px solid #DDDDDD;
    padding: 8px;
    line-height: 20px;
}
#messic-upload-song-content-songs li.messic-upload-song-content-songs-image{
    border-bottom: 1px solid #DDDDDD;
    padding: 8px;
    line-height: 40px;
    background: #fdffe8;
}
#messic-upload-song-content-songs li.messic-upload-song-content-songs-image:nth-child(even){
    background: #fdffe8;
}
#messic-upload-song-content-songs li.messic-upload-song-content-songs-image:nth-child(odd){
    background: #FFFFEF;
}

/*
#messic-upload-song-content-songs li:nth-child(even){
    background: url("backgrounds.gif") repeat-x scroll 0 -156px #F5F5F5;
}
#messic-upload-song-content-songs li:nth-child(odd){
    background: #fdffe8;
}
*/

#messic-upload-song-content-songs input[type="text"]{
	border: 1px dashed #CCCCCC;
	width:350px;
	font:11px Verdana,sans-serif;
}

li.messic-upload-song-content-songs-filedelete a {
    background: url("delete.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: none;
    float:left;
    width:16px;
    height:16px;
}
.messic-upload-song-content-songs-move{
    background: none repeat scroll 0 0 #0000FF;
    float: left;
    height: 36px;
    left: -7px;
    position: relative;
    top: -7px;
    width: 20px;
	visibility: hidden;
}
.messic-upload-song-content-songs-up{
	height:50%;
	width:100%;
	float:left;
	background: red;
}
.messic-upload-song-content-songs-down{
	height:50%;
	width:100%;
	float:left;
	background: yellow;
}
#messic-upload-song-content-songs li:hover .messic-upload-song-content-songs-move{
	visibility: visible;
}
.messic-upload-song-content-images,
.messic-upload-song-content-unknown{
    background-size: 100px auto;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}
.messic-upload-song-content-unknown{
	background: url("file-unknown.png") no-repeat scroll 0 0 / 35px 40px rgba(0, 0, 0, 0);	
}
.messic-upload-song-content-header-tracknumber{
    border: 1px dashed #CCCCCC;
    font: 11px Verdana,sans-serif;
    left: 5px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
}
