#messic-upload-wizard-albumcomments {
    height: 100px;
}

#messic-upload-wizard-plugins-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #DDDDDD;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: auto;
    padding: 11px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}



#messic-upload-wizard-plugin-content {
    font-family: roboto;
    font-size: 0.8em;
    height: 315px;
    left: 100px;
    max-height: 315px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    z-index: 0;
}


#messic-upload-wizard-plugin-content .messic-upload-wizard-albuminfo-title {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 23px 23px;
    color: #AAAAAA;
    font-family: Roboto-bold;
    font-size: 1.3em;
    height: 25px;
    margin-bottom: 11px;
    text-align: center;
    width: 99%;
    padding-top:3px;
}
#messic-upload-wizard-albuminfo-head {
    float: left;
    width: 50%;
}




#messic-upload-wizard-plugin-content .messic-upload-wizard-pluginresult {
    background:#EFEFEF; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), color-stop(21%, #F9F9F9), color-stop(70%, #FAFAFA), to(#BBBBBB)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top, #DDDDDD 0%, #F9F9F9 21%, #FAFAFA 70%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #DDDDDD 0%, #F9F9F9 21%, #FAFAFA 70%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #888888;
    border-radius: 6px;
    -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-left: 4px;
    margin-top: 9px;
    padding: 5px;
    width: 549px;
}

#messic-upload-wizard-plugin-content .messic-upload-wizard-albuminfo-head {
    float: left;
    height: 200px;
    width: 50%;
}


#messic-upload-wizard-plugin-content .messic-upload-wizard-albumtitle {
    float: left;
    text-align: right;
    width: 61px;
}


#messic-upload-wizard-plugin-content .messic-upload-wizard-albuminfofield {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px dashed #AAAAAA;
    border-radius: 1px;
    float: left;
    margin-bottom: 10px;
    margin-left: 4px;
    max-height: 17px;
    min-height: 18px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-top: 4px;
    text-indent: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 198px;
    word-break: keep-all;
}


#messic-upload-wizard-plugin-content .messic-upload-wizard-albuminfo-body {
    float: left;
    width: 50%;
}


#messic-upload-wizard-plugin-content .messic-upload-wizard-albumsong-track {
    float: left;
    text-align: right;
    width: 19px;
}


#messic-upload-wizard-plugin-content .messic-upload-wizard-albumsong-name {
    float: left;
    height: 18px;
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 245px;
}


#messic-upload-wizard-plugin-content .messic-upload-wizard-albuminfo-actions {
    bottom: 4px;
    color: #0000FF;
    font-size: 1.5em;
    height: 35px;
    margin-left: 215px;
    position: relative;
    width: 193px;
}

#messic-upload-wizard-plugin-content .messic-upload-wizard-albuminfo-actions > a:hover {
    color: #11CCFF;
}
#messic-upload-wizard-plugin-content .messic-upload-wizard-albuminfo-actions > a {
    color: #2288FF;
    margin-right: 33px;
}

.messic-upload-wizard-pluginresult-warning:before {
    background: url("upload/dialog_warning.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    float: left;
    height: 48px;
    position: relative;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    width: 48px;
}
.messic-upload-wizard-pluginresult-warning {
    background: none repeat scroll 0 0 rgba(255, 255, 0, 0.21);
    border: 2px solid #aaaa00;
    border-radius: 16px;
    color: rgb(60, 60, 0);
    font-family: roboto;
    margin-bottom: 10px;
    padding: 10px;
}


#messic-upload-wizard-window {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: auto;
    left: 50%;
    margin-left: -293px;
    padding: 13px;
    position: absolute;
    width: 600px;
    max-height: 560px;
    overflow-y: scroll;
}
#messic-upload-wizard-title {
    background: none repeat scroll 0 0 rgba(100, 255, 255, 0.33);
    border-radius: 14px;
    -webkit-box-shadow: 0 0 11px #64FFFF;
    box-shadow: 0 0 11px #64FFFF;
    font-family: Amaranth;
    font-size: 1.2em;
    height: auto;
    margin-bottom: 16px;
    margin-top: 12px;
    padding: 0;
    text-align: center;
    width: 100%;
}


#messic-upload-wizard-subtitle {
    background: none repeat scroll 0 0 #CCCCCC;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #555555;
    font-family: roboto-bold;
    font-size: 0.9em;
    padding-bottom: 4px;
    padding-top: 7px;
    text-align: center;
    width: 100%;
}

#messic-upload-wizard-subtitle2 {
    background: none repeat scroll 0 0 #CCCCCC;
    border-bottom: 1px solid #BBBBBB;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: Amaranth;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

#messic-upload-wizard-cancel {
    float: left;
    margin-bottom: 19px;
    margin-top: 23px;
    width: auto;
}

.messic-upload-wizard-albuminfofield {
    width: 90%;
}
.messic-upload-wizard-albumsong-track {
    max-width: 44px;
    text-align: center;
    width: 15%;
}

.messic-upload-wizard-albumsong-name {
    margin-bottom: 0;
    margin-left: 10px;
    width: 80%;
}

#messic-upload-wizard-albuminfo-body {
    float: left;
    width: 50%;
}

#messic-upload-wizard-albuminfo-actions > button {
    float: left;
    margin: 0 20px 0 0;
}

#messic-upload-wizard-albuminfo-actions {
    height: 60px;
    left: 14px;
    margin-top: 20px;
    position: absolute;
    top: 510px;
    width: auto;
}
.messic-upload-wizard-albumtitle {
    color: #888888;
    font-family: roboto-bold;
    margin-bottom: -4px;
    margin-top: 5px;
}

.messic-upload-wizard-menu {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    height: 30px;
    left: -127px;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0;
    top: 23px;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;
}

.messic-upload-wizard-menuitem.messic-upload-wizard-menuitem-selected {
    background: none repeat scroll 0 0 rgba(100, 255, 255, 0.33);
    border: 0 none;
    -webkit-box-shadow: 0 0 11px #64FFFF;
    box-shadow: 0 0 11px #64FFFF;
    color: #5588FF;
    font-family: Amaranth;
    text-shadow: 0 0 0;
}

.messic-upload-wizard-menuitem {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px dashed #DDDDDD;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.59);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.59);
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-family: roboto-bold;
    font-size: 1em;
    margin-left: 10px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
    width: 95px;
}

.messic-upload-wizard-menuitem:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-box-shadow: 0 0 3px #FFFFFF;
    box-shadow: 0 0 3px #FFFFFF;
    color: #AAAAAA;
}


.messic-upload-wizard-menuitem:active {
    background: none repeat scroll 0 0 #AAFFFF;
    -webkit-box-shadow: 0 0 3px #64FFFF;
    box-shadow: 0 0 3px #64FFFF;
    color: #FFFFFF;
}


#messic-upload-wizard-albuminfo-body div {
    color: #888888;
    font-family: roboto-bold;
    font-size: 0.8em;
}
.messic-upload-wizard-albuminfo-albumsong-track-title {
    float: left;
    width: 15%;
}
.messic-upload-wizard-albuminfo-albumsong-name-title {
    float: left;
    margin-left: 13px;
    width: 80%;
}

#messic-upload-wizard-content .messic-upload-finishbox-resource-filename {
    max-width: 432px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
#messic-upload-wizard-authorname {
    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.15);
}
#messic-upload-wizard-albumtitle {
    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.15);
}
#messic-upload-content{
    clear:left;
}
.messic-upload-container-border{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 275px;
    height: auto;
    overflow: visible;
    padding: 3px;
    width:448px;
    float: left;
    margin-right: 30px;
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.messic-upload-container
{
    background: #FFFFFF;
    border: 1px dashed #DDDDDD;
    font-family: Roboto-black;
    font-size: 0.8em;
    padding: 0px 10px 10px 55px;
    position: relative;
    width: auto;
}

.messic-upload-container:before{
    width: 41px;
    height: 48px;
    position: absolute;
    left: 5px;
    top:-5px;
    content: ' ';
}
#messic-upload-album-container #messic-upload-album-comments{
    width: 340px;
    height: 148px;
}
#messic-upload-album-comments-label {
    vertical-align: top;
}

#messic-upload-album-container input[type="text"]{
    width: 200px;
}
#messic-upload-album-container .messic-upload-container:before{
    background: url("upload/ribbon-vinyl.png") no-repeat;
}
#messic-upload-song-container .messic-upload-container:before{
    background: url("upload/ribbon-music.png") no-repeat;
}

.messic-upload-container h3 {
    font-weight: normal;
    font-size: 1.4em;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
    font-family: roboto-black;
    text-shadow: 0 0 1px rgba(0,88,55,0.5);
    color: #0088FF;
}
.messic-upload-container h4 {
    font-weight: normal;
    font-size: 0.9em;
    margin-top: -16px;
    font-family: roboto;
    color: #AAAAAA;
}

#messic-upload-album-cover{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dashed #AAAAAA;
    height: 120px;
    right: 10px;
    width: 120px;
    position: absolute;
}
#messic-upload-album-cover img{
    width: 100%;
    height: 100%;
    -webkit-background-size: 150px 150px;
    background-size: 150px 150px;
}

#messic-upload-album-container .k-textbox{
    width: 200px;
}


#messic-upload-album-container ul {
    list-style-type: none;
    margin-left: -55px;
    padding: 0;
}
#messic-upload-album-container li {
    margin: 10px 0 0 0;
}

#messic-upload-album-container label {
    display: inline-block;
    width: 90px;
    text-align: right;
}



.messic-upload-song-separator{
    height: 0px;
    border-bottom: 1px dashed #AAAAAA;
    margin-left: -43px;
    margin-top:10px;
    margin-bottom: 10px;
}

#messic-upload-song-content-songs {
    min-height: 200px;
    margin:0px 0px 0px -48px;
    padding:0px;
    background: #FCFCFC;
    list-style-type: none;
    margin-top: -10px;
}
#messic-upload-song-content-songs span{
    font-size: 1.5em;
    font-family: Roboto-black;
    color: #DDDDDD;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    text-align: center;
    top:50%;

}
#messic-upload-song-addbutton{
    width: 31px;
    height: 31px;
    background: url("upload/upload-buttonadd.png");
    left: 10px;
    top:43px;
    position: absolute;
}
#messic-upload-song-addbutton:hover{
    background: url("upload/upload-buttonadd.png") no-repeat scroll -31px 0px;
}
#messic-upload-song-addbutton:active{
    background: url("upload/upload-buttonadd.png") no-repeat scroll -62px 0px;
}
#messic-upload-song-addinput{
    display:none;
}
.messic-upload-song-content-header{
    margin-bottom: 14px;
}
.messic-upload-song-content-header, .messic-upload-song-content-footer{
    color: #555555;
    padding: 8px 0px 8px 8px;
    margin-top: -12px;
    margin-left: -53px;
}


.messic-upload-song-content-header-realfilename {
    color: #aaaaaa;
    margin-left: 55px;
}

.messic-upload-song-content-header-filename,
.messic-upload-song-content-header-track{
    float: left;
    overflow: visible;
}
.messic-upload-song-content-header-track{
    margin-right:10px;
    width:43px;
    vertical-align: center;
    text-align: center;
}
.messic-upload-song-content-header-filesize, 
.messic-upload-song-content-header-filestatus, 
.messic-upload-song-content-header-fileaction {
    text-align: right;
}
.messic-upload-song-content-header-fileaction {
    float: right;
    height: 16px;
    margin-left: 15px;
    width: 16px;
}
.messic-upload-song-content-header-filesize, 
.messic-upload-song-content-header-filestatus, 
.messic-upload-song-content-header-progress {
    float: right;
    height: 29px;
    overflow: hidden;
    width: 75px;
}

.messic-upload-song-content-footer {
    border-top: 1px solid #FFFFFF;
    vertical-align: middle;
    margin-top: -16px;
}





#messic-upload-song-content-songs li{
    border-bottom: 1px solid #DDDDDD;
    padding: 6px 0 4px;
    line-height: 24px;
}
#messic-upload-song-content-songs li.messic-upload-song-content-songs-image{
    border-bottom: 1px solid #DDDDDD;
    padding: 6px 0px 4px;
    line-height: 40px;
    background: #fdffe8;
}
#messic-upload-song-content-songs li.messic-upload-song-content-songs-image:nth-child(even){
    background: #fdffe8;
}
#messic-upload-song-content-songs li.messic-upload-song-content-songs-image:nth-child(odd){
    background: #FFFFEF;
}

/*
#messic-upload-song-content-songs li:nth-child(even){
    background: url("backgrounds.gif") repeat-x scroll 0 -156px #F5F5F5;
}
#messic-upload-song-content-songs li:nth-child(odd){
    background: #fdffe8;
}
*/

#messic-upload-song-content-songs input[type="text"]{
	border: 1px dashed #CCCCCC;
	width:240px;
	font:11px Verdana,sans-serif;
}

li.messic-upload-song-content-songs-filedelete a {
    background: url("upload/delete.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: none;
    float:left;
    width:16px;
    height:16px;
}
li.messic-upload-song-content-songs-filedelete a:hover {
    background: url("upload/delete-hover.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.messic-upload-song-content-songs-move{
    background: none repeat scroll 0 0 #0000FF;
    float: left;
    height: 36px;
    left: -7px;
    position: relative;
    top: -7px;
    width: 20px;
	visibility: hidden;
}
.messic-upload-song-content-songs-up{
	height:50%;
	width:100%;
	float:left;
	background: red;
}
.messic-upload-song-content-songs-down{
	height:50%;
	width:100%;
	float:left;
	background: yellow;
}
#messic-upload-song-content-songs li:hover .messic-upload-song-content-songs-move{
	visibility: visible;
}
.messic-upload-song-content-images,
.messic-upload-song-content-unknown{
    -webkit-background-size: 100px auto;
    background-size: 100px auto;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

.messic-upload-song-content-images img{
    width: 100%;
    height: 100%;
    -webkit-background-size: 100px auto;
    background-size: 100px auto;
    border: none;
}

.messic-upload-song-content-images-cover:before{
    border: 3px solid #0088FF;
    -webkit-box-shadow: 0 0 16px #0088FF;
    box-shadow: 0 0 16px #0088FF;
    content: "";
    height: 36px;
    left: 4px;
    position: absolute;
    width: 40px;
}

.messic-upload-song-content-images:hover:before{
    border: 3px solid #0088FF;
    content: "";
    height: 36px;
    left: 4px;
    position: absolute;
    width: 40px;
    opacity: 0.5;
}

.messic-upload-song-content-unknown{
	background: url("upload/file-unknown.png") no-repeat scroll 0 0 / 35px 40px rgba(0, 0, 0, 0);	
}
.messic-upload-song-content-header-tracknumber{
    border: 1px dashed #CCCCCC;
    font: 11px Verdana,sans-serif;
    left: 5px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
}
#messic-upload-album-editnew{
    background: none repeat scroll 0 0 #777777;
    color: rgba(255, 255, 255, 0.89);
    padding: 0 10px;
    position: absolute;
    right: 13px;
    top: 5px;
}


#messic-upload-album-editnew.messic-upload-album-edit{
    background: none repeat scroll 0 0 #FF0000;
    font-size: 1.2em;
    right: 0;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    cursor: help;
}

.messic-upload-album-new-warning{
    height: 0px;
    color: white;
    overflow: hidden;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
    cursor: help;
}

#messic-upload-album-editnew.messic-upload-album-edit:hover ~ .messic-upload-album-new-warning{
    background: none repeat scroll 0 0 rgba(200, 200, 200, 0.2);
    border-radius: 12px;
    color: #646464;
    display: block;
    font-family: Roboto-black;
    font-size: 1em;
    height: 64px;
    margin-bottom: 12px;
    margin-left: -26px;
    padding: 10px;
    visibility: visible;
    width: 100%;
}


#messic-upload-album-editnew.messic-upload-album-edit:before{
    background: url("upload/dialog_warning.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 48px;
    left: -30px;
    position: absolute;
    top: -12px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    width: 48px;

    -webkit-animation-name: messic-upload-album-editnew-bouncing;

    animation-name: messic-upload-album-editnew-bouncing;
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    -webkit-animation-name: messic-upload-album-editnew-bouncing;
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}
@keyframes messic-upload-album-editnew-bouncing
{
   0%  { -webkit-transform: scale(0.8); transform: scale(0.8);}
   100%  { -webkit-transform: scale(0.9); transform: scale(0.9);}
}
@-webkit-keyframes messic-upload-album-editnew-bouncing
{
   0%  { -webkit-transform: scale(0.8); transform: scale(0.8);}
   100%  { -webkit-transform: scale(0.9); transform: scale(0.9);}
}

#messic-upload-album-container button{
    float: right;
    margin-left: 20px;    
}



/** FINISHBOX **/
.messic-upload-finishbox{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    float: left;
    height: auto;
    margin-bottom: 20px;
    overflow: visible;
    padding: 3px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: height;
    transition-property: height;
    width: auto;
    margin-right: 29px;
}
.messic-upload-finishbox-content:before{
    content: " ";
    height: 48px;
    left: 5px;
    position: absolute;
    top: -5px;
    width: 41px;
}
.messic-upload-finishbox-content{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dashed #DDDDDD;
    float: left;
    font-family: Roboto-black;
    font-size: 0.8em;
    min-height: 150px;
    padding: 10px;
    position: relative;
    width: auto;
}
.messic-upload-finishbox-cover-content{
    float: left;
    height: auto;
    margin-left: 5px;
    margin-right: 9px;
    margin-top: 1px;
    overflow: hidden;
    width: 102px;
}
.messic-upload-finishbox-cover{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dashed #EEEEEE;
    height: 100px;
    left: 10px;
    top: 8px;
    width: 100px;
    z-index: 1;
}
.messic-upload-finishbox-cover.messic-upload-finishbox-ok:before{
    content:"";
    width: 20px;
    height: 20px;
    background: #FF0000;
}
.messic-upload-finishbox-cover img{
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    height: 100%;
    width: 100%;
}
.messic-upload-finishbox-albumtitle{
    font-family: roboto;
    font-size: 0.8em;
    left: 10px;
    max-width: 100px;
    overflow: hidden;
    top: 111px;
    z-index: 1;
}
.messic-upload-finishbox-authortitle{
    font-family: roboto;
    font-size: 0.7em;
    left: 10px;
    max-width: 100px;
    overflow: hidden;
    z-index: 1;
}
.messic-upload-finishbox-resource{
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px dashed #E0E0E0;
    color: #444444;
    height: 25px;
    line-height: 22px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    min-width: 291px;
}
.messic-upload-finishbox-resource-status{
    background: url("upload/4-1.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    vertical-align: middle;
    width: 20px;
}
.messic-upload-finishbox-resource-status.messic-upload-finished{
    background: url("upload/ok-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.messic-upload-finishbox-resource-status.messic-upload-failed{
    background: url("upload/error-small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.messic-upload-finishbox-resource-progress{
    border: 1px solid #CFCFCF;
    border-radius: 7px;
    float: left;
    height: 13px;
    margin-left: 10px;
    margin-top: 2px;
    padding: 2px;
    width: 100px;
}
.messic-upload-finishbox-resource-progressbar{
    background:#00CACA; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#00BABA), to(#00CACA)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(#00BABA, #00CACA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(#00BABA, #00CACA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 100%;
    width: 0%;

    -webkit-transition-property:width;

    transition-property:width;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
}
.messic-upload-finishbox-resource-filename{
    float:left;
    width: auto;
    height: 100%;
}