#messic-user-page-border{
    border-color: transparent;
    border-image: url("base/page-border.png") 150 150 150 150 repeat repeat;
    border-style: solid;
    border-width: 150px;
    height: auto;
    min-height:500px;
    margin: 50px auto 0;
    position: relative;
    width: 500px;
    padding-bottom: 300px;
}

#messic-user-page-border:after{
    background: url("base/page-ribbon.png") no-repeat;
    width:191px;
    height: 197px;
    right: -189px;
    top: -188px;
    content: ' ';
    position: absolute;
}

        /* To fill the content of the page */
#messic-user-page-border:before{
    content:' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F9F9F9;
}
     
.messic-user-settings-container {
    overflow: hidden;
}

.messic-user-settings-buttons-container {
    float: right;
}

.messic-user-settings-content{            
    width: 500px;
    height: 100%;
    position: absolute;
    left: 198px;
    top: 25px;
}
   
/** basic option **/
.messic-user-settings-basic-data-container {
    width: 230px;  
    float: left; 
    margin-right: 10px;
}

.messic-user-settings-basic-avatar-container {
    width: 260px;
	height: 195px;
    float: right; 
}
 
 .messic-user-settings-avatar-mark {
	width: 100%;
	height: 100%;
	z-index: 2;
	position: relative;
	background: url(user/ripped.png);
	pointer-events: none;
}

.messic-user-settings-avatar {
          width: 130px;
          height: 125px;
          z-index: 1;
          position: relative;
          left: 102px;
          top: -177px;            
}
              
.messic-user-settings-basic-data-container input{
    width:100%;
}

.messic-user-settings-basic-data-container .k-textbox{
    width: 100%;
}

.messic-user-settings-basic-data-container ul {
    list-style-type: none;
    padding: 0;
}

.messic-user-settings-basic-data-container li {
    margin: 10px 0 0 0;
}

.messic-user-settings-basic-data-container label {
    width: 100%;
    text-align: left;
}

.messic-user-settings-menu-visible {
	display: block;
}

.messic-user-settings-menu-notvisible {
	display: none;
}
      
.messic-user-settings-basic-data-container input {
    font-size: 0.8em;
}

      
      /** MENU OPTIONS **/
        
.messic-user-settings-menu-container {
		width: 200px;
		height: auto;
		position: absolute;
		left: -24px;
		top: 40px;
}

.messic-user-settings-menu-container div:not([class="messic-user-settings-menu-option-separator"]) {
		height: 60px;
}
			
.messic-user-settings-menu-container img {
		width: 35px;
		height: 36px;
		margin: 5px;
		float: left;
}

.messic-user-settings-menu-option-separator {
		width: 172px;
		height: 2px;
		background: green;
}

.messic-user-settings-menu-option-selected {
		background: url("user/selectedTab.png") no-repeat;
		background-size: 100% 100%;
}

.messic-user-settings-menu-option-selected label {
		color: white;
}
		
.messic-user-settings-menu-option-unselected {
		width: 203px;
		background: none;
}

.messic-user-settings-menu-option-unselected:hover {
		--background: blue;
}

.messic-user-settings-menu-option-unselected label {
		color: black;
}

.messic-user-settings-menu-option-basic-image-selected {
	content: url("user/home-icon-basic-w.png");
}

.messic-user-settings-menu-option-basic-image-unselected {
	content: url("user/home-icon-basic-b.png");
}

.messic-user-settings-menu-option-music-image-selected {
	content: url("user/home-icon-music-w.png");
}

.messic-user-settings-menu-option-music-image-unselected {
	content: url("user/home-icon-music-b.png");
}

.messic-user-settings-menu-option-admin-image-selected {
	content: url("user/home-icon-admin-w.png");
}

.messic-user-settings-menu-option-admin-image-unselected {
	content: url("user/home-icon-admin-b.png");
}

.messic-user-settings-menu-option-stats-image-selected {
	content: url("user/home-icon-stats-w.png");
}

.messic-user-settings-menu-option-stats-image-unselected {
	content: url("user/home-icon-stats-b.png");
}

.messic-user-settings-menu-option-title {
	width: 140px;
	display: inline-block;
	font: normal 14px Georgia,serif;
}

.messic-user-settings-menu-option-subtitle {
	width: 140px;
	display: inline-block;
	font: normal 10px Georgia,serif;
}