<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/
                      http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

	<display-name>Messic</display-name>

	<!-- spring context configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/services.xml
			/WEB-INF/spring/security.xml
			/WEB-INF/spring/spring-jpa.xml
			/WEB-INF/spring/controllers.xml
		</param-value>
	</context-param>
	<!-- log4j configuration -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>WEB-INF/log4j.xml</param-value>
	</context-param>

	<!-- Security Filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring Listener -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<!-- Log4j Listener -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- Messic Servlet -->
	<servlet>
		<servlet-name>messic</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- servlet mapping -->
	<servlet-mapping>
		<servlet-name>messic</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- welcome file -->
	<welcome-file-list>  
        <welcome-file>/login.do</welcome-file>  
    </welcome-file-list>  
        
    <!-- LOCALE CONFIG -->
    <locale-config>
        <default-locale>en</default-locale>
        <supported-locale>es</supported-locale>
        <!-- TODO, other languages 
        <supported-locale>de</supported-locale>
        <supported-locale>en_GB</supported-locale>
        <supported-locale>en_US</supported-locale>
         -->
    </locale-config>

</web-app>
