
/* -------------------------------*/
/* FONTS AMARANTH */
/* Designed by:	Gesine Todt */
/* http://www.gesine-todt.de/ */
/* -------------------------------*/
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth;
	src: url(Amaranth-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-bold;
	src: url(Amaranth-Bold-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-italic;
	src: url(Amaranth-Italic-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/amaranth*/
	/* Designed by:	Gesine Todt */
	/* http://www.gesine-todt.de/ */
	font-family: Amaranth-bold-italic;
	src: url(Amaranth-BoldItalic-webfont.woff);
}


/* -------------------------------*/
/* FONTS ROBOTO */
/*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
/* Designed by:	Christian Robertson */
/* -------------------------------*/
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto;
	src: url(Roboto-Regular-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-bold;
	src: url(Roboto-Bold-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-italic;
	src: url(Roboto-Italic-webfont.woff);
}
@font-face
{
    /*http://www.fontsquirrel.com/fonts/roboto?q=roboto*/
	/* Designed by:	Christian Robertson */
	font-family: Roboto-black;
	src: url(Roboto-Black-webfont.woff);
}

/* Icons based on texts */
/* http://www.paulund.co.uk/css-buttons-with-icons-but-no-images */
/* Hexadecimal entities for the icons */
/*Forms*/
.button.add:before { content: "\271A"; }
.button.edit:before { content: "\270E"; }
.button.delete:before{ content: "\2718";}
.button.save:before{ content: "\2714";}
.button.email:before{ content: "\2709";}
.button.cross:before { content: "\2716"; }
/*Currency*/
.button.dollar:before{ content:"\0024"; }
.button.euro:before{ content:"\20AC"; }
.button.pound:before{ content: "\00A3";}
.button.cent:before { content: "\20B5"; }
/*Temp*/
.button.celsius:before { content: "\2103"; }
.button.fahrenheit:before { content: "\2109"; }
/*Math & Factions*/
.button.pi:before { content: "\213C"; }
.button.one_thrid:before { content: "\2153"; }
.button.two_thrid:before { content: "\2154"; }
.button.one_fifth:before { content: "\2155"; }
.button.two_fifth:before { content: "\2156"; }
.button.three_fifth:before { content: "\2157"; }
.button.four_fifth:before { content: "\2158"; }
.button.one_sixth:before { content: "\2159"; }
.button.five_sixth:before { content: "\215A"; }
.button.one_eighth:before { content: "\215B"; }
.button.three_eighth:before { content: "\215C"; }
.button.five_eighth:before { content: "\215D"; }
.button.seven_eighth:before { content: "\215E"; }
.button.quarter:before { content: "\00BC"; }
.button.half:before { content: "\00BD"; }
.button.three_quarter:before { content: "\00BE"; }
/*Arrows*/
.button.next:before{ content: "\279C";}
.button.left_arrow:before { content: "\2190"; }
.button.up_arrow:before { content: "\2191"; }
.button.right_arrow:before { content: "\2192"; }
.button.down_arrow:before { content: "\2193"; }
.button.up_left_arrow:before { content: "\2196"; }
.button.up_right_arrow:before { content: "\2197"; }
.button.down_left_arrow:before { content: "\2199"; }
.button.down_right_arrow:before { content: "\2198"; }
/*Symbols*/
.button.like:before{ content: "\2764";}
.button.star:before{ content: "\2605";}
.button.spark:before{ content: "\2737";}
.button.play:before{  line-height: 25px; content: "\25B6";}
.button.blacksun:before { content: "\2600"; }
.button.cloud:before { content: "\2601"; }
.button.umbrella:before { content: "\2602"; }
.button.snowman:before { content: "\2603"; }
.button.blackstar:before { content: "\2605"; }
.button.whitestar:before { content: "\2606"; }
.button.blackphone:before { content: "\260E"; }
.button.saltire:before { content: "\2613"; }
.button.hot_drink:before { content: "\2615"; }
.button.skull:before { content: "\2620"; }
.button.radioactive:before { content: "\2622"; }
.button.biohazard:before { content: "\2623"; }
.button.peace:before { content: "\262E"; }
.button.yingyang:before { content: "\262F"; }
.button.frowning_face:before { content: "\2639"; }
.button.smiling_face:before { content: "\263A"; }
.button.first_quarter_moon:before { content: "\263D"; }
.button.last_quarter_moon:before { content: "\263E"; }
.button.wheelchair:before { content: "\267F"; }
.button.recycle:before { content: "\267D"; }
.button.recycle2:before { content: "\267C"; }
.button.music_note:before { content: "\266C"; }
.button.warning:before { content: "\26A0"; }
.button.male_and_female:before { content: "\26A4"; }
.button.scissors:before { content: "\2701"; }
.button.airplane:before { content: "\2708"; }
.button.snow:before { content: "\2042"; }


/* body of messic */
/* ------------------------------------------------------------ */
html{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

body{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	display: block;

    /* http://subtlepatterns.com/mocha-grunge/ */
	background: radial-gradient(ellipse at center center , rgba(250, 250, 250, 0) 0%, rgba(50, 50, 50, 0.8) 100%) repeat scroll 0 0%, 
                url("mochaGrunge.png") repeat scroll 0 0 transparent;
}

label {
    color: #6A6A6A;
    display: block;
    font-family: Roboto;
    font-size: 0.8em;
}

h1{
	font-family:myFirstFont;
	font-size:1em;
	color:#7a7a7a;
}

input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 3px 0 3px 10px;
	margin-bottom: 10px;
	font-family:Roboto;
	font-size:1em;
	border-style: solid;
    border-width: 1px;
	outline: 0 none;
	line-height: normal;

    color: #666666;
    font-family: dialog;
    font-size: 1em;
}

input[type="text"]:focus {
    border-color: #AAAAAA;
    border-style: dashed;
    border-width: 1px;
}
input[type="text"]:hover {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow:         0 0 2px rgba(0, 0, 0, 0.4);
}



button {
	/* generated here: http://css3buttongenerator.com/ */
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;
    border: 1px solid #C7C7C7;
    border-radius: 8px 2px 8px 2px;
	-webkit-border-radius: 8px 2px 8px 2px;
	-moz-border-radius: 8px 2px 8px 2px;
    box-shadow: 0 2px 3px #666666;
	-webkit-box-shadow: 0px 2px 3px #666666;
	-moz-box-shadow: 0px 2px 3px #666666;
    color: #5C5C5C;
    font-family: Roboto;
    font-size: 13px;
    padding: 2px 25px;
    text-decoration: none;
	line-height: 30px;

    transition-property : padding; 
    transition-duration : 0.5s;
}
button:hover {
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#DDDDDD));
    background: -moz-linear-gradient(center top , #FFFFFF, #DDDDDD) repeat scroll 0 0 transparent;
	color:#008B8B;
}
button:active {
    box-shadow: 0 0px 2px #666666;
	-webkit-box-shadow: 0px 0px 2px #666666;
	-moz-box-shadow: 0px 0px 2px #666666;
}
button:before
{
	float: left;
	width: 1em;
	text-align: center;
	font-size: 1.7em;
	margin: 0 0.5em 0 -1em;
	padding: 0 .2em;
	pointer-events: none;
    transition-property : color; 
    transition-duration : 0.5s;
}

button:hover:before{
	color:#008B8B;
    transition-property : color,font-size; 
    transition-duration : 0.5s;
}
a{
	font-family:Amaranth;
	font-size:0.8em;
	color:#7a7a7a;
}
a:hover{
	font-size:0.8em;
	color:#008B8B;
    transition-property : color; 
    transition-duration : 0.5s;
}
a:visited{
	font-size:0.8em;
	color:#7a7a7a;
    transition-property : color; 
    transition-duration : 0.5s;
}


/* ----------------------------------------------------------------- */

/** text container */ 
.messic-text-container{
	margin: 10px;
}


/* background (over body) */
/*----------------------------*/
#messic-background{
	background: rgba(250,250,0,0.0);
	width:100%;
	height:100%;
}
#messic-background-animated{
   /* annimation to change the color of gradient */	
	animation-name: messic-background-changeColor;
	animation-duration:1000s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes messic-background-changeColor {
10%{ background: rgba(255, 125, 0, 0.1);}	
20%{ background: rgba(155, 225, 0, 0.3);}
40%{ background: rgba(100, 125, 200, 0.1);}	
60%{ background: rgba(155, 0, 255, 0.2);}
80%{ background: rgba(0, 100, 50, 0.2);}
100%{background: rgba(155, 200, 40, 0.1);}
}
@-webkit-keyframes messic-background-changeColor {
10%{ background: rgba(255, 125, 0, 0.1);}	
20%{ background: rgba(155, 225, 0, 0.3);}
40%{ background: rgba(100, 125, 200, 0.1);}	
60%{ background: rgba(155, 0, 255, 0.2);}
80%{ background: rgba(0, 100, 50, 0.2);}
100%{background: rgba(155, 200, 40, 0.1);}
}
#messic-background:before {
	/* http://freepsdfiles.net/silhouettes/crowd-silhouettes-set/ */
	background: url(people.png) bottom left repeat-x fixed;

	bottom:0px;
	width:100%;
	height:446px;
    content:"";
    opacity:0.8;
	position:absolute;
	z-index:-1;
}
/**************************************************/



